openapi: 3.2.0
info:
  title: Payment Collections - Crypto API
  description: 'Coins.ph Partner Integration API v2.7


    ## Authentication

    All requests must include the following headers:

    - `X-COINS-APIKEY`: Your API key

    - `Timestamp`: Unix timestamp of the request

    - `Signature`: HMAC-SHA256 signature of the request


    Requests and webhook payloads must be signed using HMAC-SHA256 with the API secret.


    ## Environments

    - **Sandbox**: `https://api.9001.pl-qa.coinsxyz.me`

    - **Production**: `https://api.pro.coins.ph`'
  version: '2.7'
  contact:
    name: Coins.ph Tech Ops
    email: tech_ops@coins.ph
servers:
- url: https://api.pro.coins.ph
  description: Production
- url: https://api.9001.pl-qa.coinsxyz.me
  description: Sandbox
security:
- ApiKeyAuth: []
  TimestampAuth: []
  SignatureAuth: []
tags:
- name: Collections - Crypto
  description: Crypto deposit address
paths:
  /openapi/wallet/v1/deposit/address:
    get:
      tags:
      - Collections - Crypto
      summary: Crypto Get Deposit Address
      description: Returns a crypto deposit address.
      operationId: getCryptoDepositAddress
      parameters:
      - name: coin
        in: query
        required: true
        schema:
          type: string
        description: Abbreviated token name.
        example: USDT
      - name: network
        in: query
        required: true
        schema:
          type: string
        description: Abbreviated network name.
        example: XRP
      - name: recvWindow
        in: query
        required: false
        schema:
          type: integer
          format: int64
        description: Validity duration of the request in milliseconds after the timestamp.
      - name: timestamp
        in: query
        required: true
        schema:
          type: integer
          format: int64
        description: Unix timestamp indicating when the request was made.
        example: 1747306565330
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  coin:
                    type: string
                    example: USDT
                  address:
                    type: string
                    example: rKrDJLGiSrKsRRtEQVgnWJnKALp5NJeDkC
                  addressTag:
                    type: string
                    example: '1119001253'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-COINS-APIKEY
      description: API key provided by Coins.ph
    TimestampAuth:
      type: apiKey
      in: header
      name: Timestamp
      description: Unix timestamp of the request
    SignatureAuth:
      type: apiKey
      in: header
      name: Signature
      description: HMAC-SHA256 signature of the request
x-readme:
  proxy-enabled: false
  samples-languages:
  - java
  - python
  - php
  - ruby
