{
  "openapi": "3.0.0",
  "info": {
    "title": "TRADING",
    "version": "1.0.0",
    "description": "Spot trading endpoints for the Coins.ph Trading API."
  },
  "servers": [
    {
      "url": "https://api.pro.coins.ph",
      "description": "Production"
    },
    {
      "url": "https://api.9001.pl-qa.coinsxyz.me",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Spot",
      "description": "Spot trading operations including order placement, querying, cancellation, and trade history."
    }
  ],
  "x-tagGroups": [
    {
      "name": "TRADING",
      "tags": [
        "Spot"
      ]
    }
  ],
  "x-readme": {
    "proxy-enabled": false
  },
  "paths": {
    "/openapi/v1/exchangeInfo": {
      "get": {
        "tags": [
          "Spot"
        ],
        "summary": "Exchange Information",
        "description": "Returns current exchange trading rules and symbol information. Provides comprehensive\ndetails about available trading pairs, their configurations, trading rules, and filters\nthat apply to orders.\n\n**Key Notes**\n\n- Use `symbol` to query a single trading pair.\n- Use `symbols` (comma-separated) to query multiple trading pairs. Cannot be used together with `symbol`.\n- If neither is provided, returns information for all trading pairs.\n\n---\n\n## Additional Info\n\n**Rate Limit** [📖 Learn More](https://api.docs.coins.ph/reference/general#api-limit-introduction)\n\nWeight: 1\n\n**Use Cases** [🧩 SDK](https://api.docs.coins.ph/reference/general#sdk)\n\n- **Order Validation** — Fetch PRICE_FILTER and LOT_SIZE filters before placing orders to avoid rejection\n- **Trading Pair Discovery** — Enumerate all active trading pairs and their supported order types\n- **Precision Handling** — Retrieve baseAssetPrecision and quoteAssetPrecision to format amounts correctly\n\n**Best Practices**\n\n- Cache exchange information at application startup and refresh periodically (every few hours)\n- Always check `status === 'TRADING'` before allowing orders on a symbol\n- Validate order price and quantity against PRICE_FILTER and LOT_SIZE before submitting\n",
        "operationId": "get_exchange_info",
        "parameters": [
          {
            "in": "header",
            "name": "X-COINS-APIKEY",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication."
          },
          {
            "in": "query",
            "name": "symbol",
            "required": false,
            "schema": {
              "type": "string",
              "example": "BTCPHP"
            },
            "description": "Specify a single trading pair. Cannot be used with `symbols`."
          },
          {
            "in": "query",
            "name": "symbols",
            "required": false,
            "schema": {
              "type": "string",
              "example": "BTCPHP,ETHPHP"
            },
            "description": "Comma-separated list of trading pairs. Cannot be used with `symbol`."
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "All Trading Pairs",
            "source": "curl --get --location 'https://api.pro.coins.ph/openapi/v1/exchangeInfo' \\\n--header 'X-COINS-APIKEY: <your api key>'\n"
          },
          {
            "lang": "Shell",
            "label": "Single Trading Pair",
            "source": "curl --get --location 'https://api.pro.coins.ph/openapi/v1/exchangeInfo?symbol=BTCPHP' \\\n--header 'X-COINS-APIKEY: <your api key>'\n"
          },
          {
            "lang": "Shell",
            "label": "Multiple Trading Pairs",
            "source": "curl --get --location 'https://api.pro.coins.ph/openapi/v1/exchangeInfo?symbols=BTCPHP,ETHPHP,BTCUSDT' \\\n--header 'X-COINS-APIKEY: <your api key>'\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange information retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timezone": {
                      "type": "string",
                      "description": "Server timezone.",
                      "example": "UTC"
                    },
                    "serverTime": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Current server time in milliseconds.",
                      "example": 1538323200000
                    },
                    "exchangeFilters": {
                      "type": "array",
                      "description": "Exchange-level filters (currently empty)."
                    },
                    "symbols": {
                      "type": "array",
                      "description": "Array of trading pair information.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string",
                            "description": "Trading pair symbol.",
                            "example": "BTCPHP"
                          },
                          "status": {
                            "type": "string",
                            "description": "Trading status: TRADING (active) or HALT (suspended).",
                            "example": "TRADING"
                          },
                          "baseAsset": {
                            "type": "string",
                            "description": "Base asset (the asset being bought or sold).",
                            "example": "BTC"
                          },
                          "baseAssetPrecision": {
                            "type": "integer",
                            "description": "Decimal precision for base asset amounts.",
                            "example": 8
                          },
                          "quoteAsset": {
                            "type": "string",
                            "description": "Quote asset (the asset used for pricing).",
                            "example": "PHP"
                          },
                          "quoteAssetPrecision": {
                            "type": "integer",
                            "description": "Decimal precision for quote asset amounts.",
                            "example": 8
                          },
                          "orderTypes": {
                            "type": "array",
                            "description": "Supported order types for this trading pair.",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "LIMIT",
                              "MARKET",
                              "LIMIT_MAKER",
                              "STOP_LOSS_LIMIT",
                              "STOP_LOSS",
                              "TAKE_PROFIT_LIMIT",
                              "TAKE_PROFIT"
                            ]
                          },
                          "filters": {
                            "type": "array",
                            "description": "Trading rules and filters for this pair."
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Exchange Info (BTCPHP)",
                    "value": {
                      "timezone": "UTC",
                      "serverTime": 1538323200000,
                      "exchangeFilters": [],
                      "symbols": [
                        {
                          "symbol": "BTCPHP",
                          "status": "TRADING",
                          "baseAsset": "BTC",
                          "baseAssetPrecision": 8,
                          "quoteAsset": "PHP",
                          "quoteAssetPrecision": 8,
                          "orderTypes": [
                            "LIMIT",
                            "MARKET",
                            "LIMIT_MAKER",
                            "STOP_LOSS_LIMIT",
                            "STOP_LOSS",
                            "TAKE_PROFIT_LIMIT",
                            "TAKE_PROFIT"
                          ],
                          "filters": [
                            {
                              "filterType": "PRICE_FILTER",
                              "minPrice": "0.00000100",
                              "maxPrice": "100000.00000000",
                              "tickSize": "0.00000100"
                            },
                            {
                              "filterType": "LOT_SIZE",
                              "minQty": "0.00100000",
                              "maxQty": "100000.00000000",
                              "stepSize": "0.00100000"
                            },
                            {
                              "filterType": "NOTIONAL",
                              "minNotional": "0.00100000"
                            },
                            {
                              "filterType": "MAX_NUM_ORDERS",
                              "maxNumOrders": 200
                            },
                            {
                              "filterType": "MAX_NUM_ALGO_ORDERS",
                              "maxNumAlgoOrders": 5
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "API error response. The `code` field contains the internal API error code (not an HTTP status code).\n\n| Code | Description |\n|---|---|\n| -1121 | Invalid symbol |\n| -100013 | Parameter symbol and symbols cannot be used in combination |\n\nFor the full list of error codes, see [Error Codes](https://api.docs.coins.ph/reference/error-codes).\n"
          }
        }
      }
    },
    "/openapi/v1/order/test": {
      "post": {
        "tags": [
          "Spot"
        ],
        "summary": "Test New Order (TRADE)",
        "description": "Test order creation without sending it to the matching engine. Validates parameters,\nsignature, and recvWindow. Returns empty object on success. Accepts the same parameters\nas POST /openapi/v1/order.\n\n---\n\n## Additional Info\n\n**Rate Limit** [📖 Learn More](https://api.docs.coins.ph/reference/general#api-limit-introduction)\n\nWeight: 1\n\n**Use Cases** [🧩 SDK](https://api.docs.coins.ph/reference/general#sdk)\n\n- **Dry-Run Validation** — Submit a test order to confirm that price, quantity, and parameter formatting pass all exchange filters\n- **Order Type Exploration** — Test different order type and parameter combinations without risking actual funds\n\n**Best Practices**\n\n- Use during development to validate request format before placing live orders\n- Test all parameter combinations for each order type\n",
        "operationId": "test_new_order",
        "parameters": [
          {
            "in": "header",
            "name": "X-COINS-APIKEY",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "symbol",
                  "side",
                  "type",
                  "timestamp",
                  "signature"
                ],
                "properties": {
                  "symbol": {
                    "type": "string",
                    "default": "BTCPHP",
                    "description": "Trading pair symbol."
                  },
                  "side": {
                    "type": "string",
                    "enum": [
                      "BUY",
                      "SELL"
                    ],
                    "example": "BUY",
                    "description": "Order side."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "LIMIT",
                      "MARKET",
                      "LIMIT_MAKER",
                      "STOP_LOSS",
                      "STOP_LOSS_LIMIT",
                      "TAKE_PROFIT",
                      "TAKE_PROFIT_LIMIT"
                    ],
                    "example": "LIMIT",
                    "description": "Order type."
                  },
                  "timeInForce": {
                    "type": "string",
                    "enum": [
                      "GTC",
                      "IOC",
                      "FOK"
                    ],
                    "example": "GTC",
                    "description": "Time in force. Required for LIMIT order types."
                  },
                  "quantity": {
                    "type": "string",
                    "example": "0.001",
                    "description": "Order quantity in base asset units. The quantity must be a multiple of the symbol's stepSize. If the submitted quantity is not aligned with the stepSize, the excess portion will be truncated."
                  },
                  "quoteOrderQty": {
                    "type": "string",
                    "example": "1000.00",
                    "description": "Quote asset quantity for MARKET orders."
                  },
                  "price": {
                    "type": "string",
                    "example": "50000.00",
                    "description": "Order price per unit."
                  },
                  "newClientOrderId": {
                    "type": "string",
                    "example": "my_order_123",
                    "description": "Client-assigned unique order ID."
                  },
                  "stopPrice": {
                    "type": "string",
                    "example": "49000.00",
                    "description": "Trigger price for stop orders."
                  },
                  "newOrderRespType": {
                    "type": "string",
                    "enum": [
                      "ACK",
                      "RESULT",
                      "FULL"
                    ],
                    "example": "FULL",
                    "description": "Response type."
                  },
                  "stpFlag": {
                    "type": "string",
                    "enum": [
                      "CB",
                      "CN",
                      "CO"
                    ],
                    "example": "CB",
                    "description": "Self-trade prevention flag. Default: CB."
                  },
                  "recvWindow": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0,
                    "maximum": 60000,
                    "example": 5000,
                    "description": "Request validity window in milliseconds. Default: 5000, Maximum: 60000."
                  },
                  "timestamp": {
                    "type": "integer",
                    "format": "int64",
                    "example": 1507725176532,
                    "description": "Unix timestamp in milliseconds."
                  },
                  "signature": {
                    "type": "string",
                    "example": "c8db56825ae71d6d79447849e617115f4a920fa2acdcab2b053c4b2838bd6b71",
                    "description": "HMAC SHA256 signature of the query string [📖 Learn More](https://api.docs.coins.ph/reference/general#signed-endpoint-examples-for-post-openapiv1order)"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "Test LIMIT Order",
            "source": "curl --location --request POST 'https://api.pro.coins.ph/openapi/v1/order/test' \\\n--header 'X-COINS-APIKEY: <your api key>' \\\n--data-urlencode 'symbol=BTCPHP' \\\n--data-urlencode 'side=BUY' \\\n--data-urlencode 'type=LIMIT' \\\n--data-urlencode 'timeInForce=GTC' \\\n--data-urlencode 'quantity=0.001' \\\n--data-urlencode 'price=50000.00' \\\n--data-urlencode 'timestamp=1507725176532' \\\n--data-urlencode 'signature=<calculated_signature>'\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Order validated. Returns empty object (order not placed).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": false,
                  "example": {}
                },
                "example": {
                  "success": {
                    "summary": "Validation Passed",
                    "value": {}
                  }
                }
              }
            }
          },
          "default": {
            "description": "API error response. The `code` field contains the internal API error code (not an HTTP status code).\n\n| Code | Description |\n|---|---|\n| -1100 | Illegal characters in parameter |\n| -1102 | Mandatory parameter was not sent |\n| -1116 | Invalid orderType |\n\nFor the full list of error codes, see [Error Codes](https://api.docs.coins.ph/reference/error-codes).\n"
          }
        }
      }
    },
    "/openapi/v1/order": {
      "post": {
        "tags": [
          "Spot"
        ],
        "summary": "New Order (TRADE)",
        "description": "Submit a new trading order. Supports LIMIT, MARKET, STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, TAKE_PROFIT_LIMIT, and LIMIT_MAKER order types.\n\n**Order Type Requirements**\n\n| Type | Required Additional Parameters |\n|---|---|\n| LIMIT | timeInForce, quantity, price |\n| MARKET | quantity OR quoteOrderQty |\n| STOP_LOSS | quantity OR quoteOrderQty, stopPrice |\n| STOP_LOSS_LIMIT | timeInForce, quantity, price, stopPrice |\n| TAKE_PROFIT | quantity OR quoteOrderQty, stopPrice |\n| TAKE_PROFIT_LIMIT | timeInForce, quantity, price, stopPrice |\n| LIMIT_MAKER | quantity, price |\n\n**Time In Force**\n\n- GTC (Good-Till-Cancel): Active until filled or cancelled\n- IOC (Immediate-Or-Cancel): Fill immediately, cancel remainder\n- FOK (Fill-Or-Kill): Fill entirely or cancel completely\n\n**Self-Trade Prevention (stpFlag)**\n\n- CB (Cancel Both): Cancel both orders (default)\n- CO (Cancel Oldest): Cancel the older order\n- CN (Cancel Newest): Cancel the newer order\n\n---\n\n## Additional Info\n\n**Rate Limit** [📖 Learn More](https://api.docs.coins.ph/reference/general#api-limit-introduction)\n\nWeight: 1\n\n**Use Cases** [🧩 SDK](https://api.docs.coins.ph/reference/general#sdk)\n\n- **Limit Order** - Buy/sell at a specific price; stays in order book until filled or cancelled\n- **Market Order** - Execute immediately at best available price\n- **Stop-Loss** - Limit losses by triggering a market order when stop price is reached\n- **Take-Profit** - Lock in gains by triggering a market order at target price\n- **LIMIT_MAKER** - Post-only order guaranteeing maker fees\n\n**Best Practices**\n\n- Use newClientOrderId for idempotency and order tracking\n- Use newOrderRespType=FULL to receive fill details in the response\n- Validate price/quantity against exchangeInfo filters before placing orders\n",
        "operationId": "create_new_order",
        "parameters": [
          {
            "in": "header",
            "name": "X-COINS-APIKEY",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "symbol",
                  "side",
                  "type",
                  "timestamp",
                  "signature"
                ],
                "properties": {
                  "symbol": {
                    "type": "string",
                    "default": "BTCPHP",
                    "description": "Trading pair symbol (e.g., BCHUSDT, BTCUSDT)."
                  },
                  "side": {
                    "type": "string",
                    "enum": [
                      "BUY",
                      "SELL"
                    ],
                    "description": "Order side."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "LIMIT",
                      "MARKET",
                      "STOP_LOSS",
                      "STOP_LOSS_LIMIT",
                      "TAKE_PROFIT",
                      "TAKE_PROFIT_LIMIT",
                      "LIMIT_MAKER"
                    ],
                    "description": "Order type."
                  },
                  "timeInForce": {
                    "type": "string",
                    "enum": [
                      "GTC",
                      "IOC",
                      "FOK"
                    ],
                    "example": "GTC",
                    "description": "Time in force policy. Required for LIMIT order types."
                  },
                  "quantity": {
                    "type": "string",
                    "example": "1",
                    "description": "Order quantity in base asset units. The quantity must be a multiple of the symbol's stepSize. If the submitted quantity is not aligned with the stepSize, the excess portion will be truncated."
                  },
                  "quoteOrderQty": {
                    "type": "string",
                    "example": "400",
                    "description": "Order quantity in quote asset units. Used for MARKET orders as alternative to quantity."
                  },
                  "price": {
                    "type": "string",
                    "example": "400",
                    "description": "Limit price. Required for LIMIT, STOP_LOSS_LIMIT, TAKE_PROFIT_LIMIT, LIMIT_MAKER."
                  },
                  "newClientOrderId": {
                    "type": "string",
                    "maxLength": 100,
                    "example": "my_order_001",
                    "description": "Client-assigned unique order ID for idempotency. Auto-generated if not provided."
                  },
                  "stopPrice": {
                    "type": "string",
                    "example": "390",
                    "description": "Trigger price for conditional orders. Direction rules:\n- STOP_LOSS / STOP_LOSS_LIMIT BUY: stop price must be above current market price\n- STOP_LOSS / STOP_LOSS_LIMIT SELL: stop price must be below current market price\n- TAKE_PROFIT / TAKE_PROFIT_LIMIT SELL: stop price must be above current market price\n- TAKE_PROFIT / TAKE_PROFIT_LIMIT BUY: stop price must be below current market price\n"
                  },
                  "newOrderRespType": {
                    "type": "string",
                    "enum": [
                      "ACK",
                      "RESULT",
                      "FULL"
                    ],
                    "example": "FULL",
                    "description": "Response detail level. Default: FULL for MARKET/LIMIT, ACK for others."
                  },
                  "stpFlag": {
                    "type": "string",
                    "enum": [
                      "CB",
                      "CO",
                      "CN",
                      "NONE"
                    ],
                    "example": "CB",
                    "description": "Self-Trade Prevention flag. Default: CB."
                  },
                  "recvWindow": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0,
                    "maximum": 60000,
                    "example": 5000,
                    "description": "Request validity window in milliseconds. Default: 5000, Maximum: 60000."
                  },
                  "timestamp": {
                    "type": "integer",
                    "format": "int64",
                    "example": 1656900365976,
                    "description": "Unix timestamp in milliseconds."
                  },
                  "signature": {
                    "type": "string",
                    "example": "c8db56825ae71d6d79447849e617115f4a920fa2acdcab2b053c4b2838bd6b71",
                    "description": "HMAC SHA256 signature of the query string [📖 Learn More](https://api.docs.coins.ph/reference/general#signed-endpoint-examples-for-post-openapiv1order)"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "LIMIT Order",
            "source": "curl --location --request POST 'https://api.pro.coins.ph/openapi/v1/order' \\\n--header 'X-COINS-APIKEY: <your api key>' \\\n--data-urlencode 'symbol=BCHUSDT' \\\n--data-urlencode 'side=BUY' \\\n--data-urlencode 'type=LIMIT' \\\n--data-urlencode 'timeInForce=GTC' \\\n--data-urlencode 'quantity=1' \\\n--data-urlencode 'price=400' \\\n--data-urlencode 'timestamp=1656900365976' \\\n--data-urlencode 'signature=<calculated_signature>'\n"
          },
          {
            "lang": "Shell",
            "label": "MARKET Order",
            "source": "curl --location --request POST 'https://api.pro.coins.ph/openapi/v1/order' \\\n--header 'X-COINS-APIKEY: <your api key>' \\\n--data-urlencode 'symbol=ETHUSDT' \\\n--data-urlencode 'side=BUY' \\\n--data-urlencode 'type=MARKET' \\\n--data-urlencode 'quoteOrderQty=1000' \\\n--data-urlencode 'timestamp=1656900365976' \\\n--data-urlencode 'signature=<calculated_signature>'\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Order submitted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "symbol": {
                      "type": "string",
                      "example": "BCHUSDT"
                    },
                    "orderId": {
                      "type": "integer",
                      "format": "int64",
                      "example": 1202289462787244800
                    },
                    "clientOrderId": {
                      "type": "string",
                      "example": "165806087267756"
                    },
                    "transactTime": {
                      "type": "integer",
                      "format": "int64",
                      "example": 1656900365976
                    },
                    "price": {
                      "type": "string",
                      "example": "400"
                    },
                    "origQty": {
                      "type": "string",
                      "example": "1"
                    },
                    "executedQty": {
                      "type": "string",
                      "example": "1"
                    },
                    "cummulativeQuoteQty": {
                      "type": "string",
                      "example": "400"
                    },
                    "status": {
                      "type": "string",
                      "example": "FILLED"
                    },
                    "timeInForce": {
                      "type": "string",
                      "example": "GTC"
                    },
                    "type": {
                      "type": "string",
                      "example": "LIMIT"
                    },
                    "side": {
                      "type": "string",
                      "example": "BUY"
                    },
                    "fills": {
                      "type": "array",
                      "description": "Fill details (FULL response only).",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "string",
                            "example": "400"
                          },
                          "qty": {
                            "type": "string",
                            "example": "1"
                          },
                          "commission": {
                            "type": "string",
                            "example": "0.001"
                          },
                          "commissionAsset": {
                            "type": "string",
                            "example": "BCH"
                          },
                          "tradeId": {
                            "type": "string",
                            "example": "1205027741844507648"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "full_response": {
                    "summary": "FULL Response (FILLED)",
                    "value": {
                      "symbol": "BCHUSDT",
                      "orderId": 1202289462787244800,
                      "clientOrderId": "165806087267756",
                      "transactTime": 1656900365976,
                      "price": "400",
                      "origQty": "1",
                      "executedQty": "1",
                      "cummulativeQuoteQty": "400",
                      "status": "FILLED",
                      "timeInForce": "GTC",
                      "type": "LIMIT",
                      "side": "BUY",
                      "fills": [
                        {
                          "price": "400",
                          "qty": "1",
                          "commission": "0.001",
                          "commissionAsset": "BCH",
                          "tradeId": "1205027741844507648"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "API error response. The `code` field contains the internal API error code (not an HTTP status code).\n\n| Code | Description |\n|---|---|\n| -1013 | Filter failure: PRICE_FILTER or LOT_SIZE |\n| -1116 | Invalid orderType |\n| -2010 | New order rejected |\n\nFor the full list of error codes, see [Error Codes](https://api.docs.coins.ph/reference/error-codes).\n"
          }
        }
      },
      "get": {
        "tags": [
          "Spot"
        ],
        "summary": "Query Order (USER_DATA)",
        "description": "Check an order's status. Either orderId or origClientOrderId must be sent. If both are sent, orderId takes precedence.\n\n**Order Status Values**\n\n| Status | Description |\n|---|---|\n| NEW | Accepted but not yet executed |\n| PARTIALLY_FILLED | Part of order has been filled |\n| FILLED | Completely executed |\n| PARTIALLY_CANCELED | Part canceled due to self-trade |\n| CANCELED | Cancelled by user |\n| EXPIRED | Cancelled by matching engine |\n\n---\n\n## Additional Info\n\n**Rate Limit** [📖 Learn More](https://api.docs.coins.ph/reference/general#api-limit-introduction)\n\nWeight: 2\n\n**Use Cases** [🧩 SDK](https://api.docs.coins.ph/reference/general#sdk)\n\n- **Fill Confirmation** — Query order status after submission to confirm whether a fill occurred before placing a follow-up order\n- **State Reconciliation** — Sync local order state with the exchange after a network interruption or reconnect\n- **Partial Fill Check** — Inspect `executedQty` against `origQty` to determine how much of a partially filled order has been executed\n\n**Best Practices**\n\n- Use orderId for precision when available\n- Cache order details locally to reduce API calls\n",
        "operationId": "query_order",
        "parameters": [
          {
            "in": "header",
            "name": "X-COINS-APIKEY",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication."
          },
          {
            "in": "query",
            "name": "orderId",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "System-assigned order ID.",
            "example": 1799249051008066600
          },
          {
            "in": "query",
            "name": "origClientOrderId",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Client-assigned order ID.",
            "example": "test5678"
          },
          {
            "in": "query",
            "name": "recvWindow",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 60000
            },
            "description": "Request validity window in milliseconds. Default: 5000, Maximum: 60000."
          },
          {
            "in": "query",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "description": "Unix timestamp in milliseconds.",
            "example": 1507725176532
          },
          {
            "in": "query",
            "name": "signature",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "HMAC SHA256 signature of the query string [📖 Learn More](https://api.docs.coins.ph/reference/general#signed-endpoint-examples-for-post-openapiv1order)"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "Query by Order ID",
            "source": "curl --get --location 'https://api.pro.coins.ph/openapi/v1/order' \\\n--header 'X-COINS-APIKEY: <your api key>' \\\n--data-urlencode 'orderId=1799249051008066560' \\\n--data-urlencode 'timestamp=1507725176532' \\\n--data-urlencode 'signature=<calculated_signature>'\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Order details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "symbol": {
                      "type": "string",
                      "example": "BTCPHP"
                    },
                    "orderId": {
                      "type": "integer",
                      "format": "int64",
                      "example": 1799249051008066600
                    },
                    "clientOrderId": {
                      "type": "string",
                      "example": "test5678"
                    },
                    "price": {
                      "type": "string",
                      "example": "0"
                    },
                    "origQty": {
                      "type": "string",
                      "example": "0.001"
                    },
                    "executedQty": {
                      "type": "string",
                      "example": "0.001"
                    },
                    "cummulativeQuoteQty": {
                      "type": "string",
                      "example": "3946.87326"
                    },
                    "status": {
                      "type": "string",
                      "example": "FILLED"
                    },
                    "timeInForce": {
                      "type": "string",
                      "example": "GTC"
                    },
                    "type": {
                      "type": "string",
                      "example": "MARKET"
                    },
                    "side": {
                      "type": "string",
                      "example": "BUY"
                    },
                    "stopPrice": {
                      "type": "string",
                      "example": "0"
                    },
                    "isWorking": {
                      "type": "boolean",
                      "example": false
                    },
                    "time": {
                      "type": "integer",
                      "format": "int64",
                      "example": 1729223201090
                    },
                    "updateTime": {
                      "type": "integer",
                      "format": "int64",
                      "example": 1729223201201
                    }
                  }
                },
                "examples": {
                  "filled_order": {
                    "summary": "Filled MARKET Order",
                    "value": {
                      "symbol": "BTCPHP",
                      "orderId": 1799249051008066600,
                      "clientOrderId": "test5678",
                      "price": "0",
                      "origQty": "0.001",
                      "executedQty": "0.001",
                      "cummulativeQuoteQty": "3946.87326",
                      "status": "FILLED",
                      "timeInForce": "GTC",
                      "type": "MARKET",
                      "side": "BUY",
                      "stopPrice": "0",
                      "isWorking": false,
                      "time": 1729223201090,
                      "updateTime": 1729223201201
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "API error response. The `code` field contains the internal API error code (not an HTTP status code).\n\n| Code | Description |\n|---|---|\n| -1102 | Mandatory parameter orderId or origClientOrderId was not sent |\n| -2013 | Order does not exist |\n\nFor the full list of error codes, see [Error Codes](https://api.docs.coins.ph/reference/error-codes).\n"
          }
        }
      },
      "delete": {
        "tags": [
          "Spot"
        ],
        "summary": "Cancel Order (TRADE)",
        "description": "Cancel an active order. Either orderId or origClientOrderId must be sent.\n\nOnly NEW or PARTIALLY_FILLED orders can be cancelled. The filled portion is not reversed.\n\n---\n\n## Additional Info\n\n**Rate Limit** [📖 Learn More](https://api.docs.coins.ph/reference/general#api-limit-introduction)\n\nWeight: 1\n\n**Use Cases** [🧩 SDK](https://api.docs.coins.ph/reference/general#sdk)\n\n- **Price Update** — Cancel an existing limit order to replace it at a more competitive price level\n- **Risk Reduction** — Remove a pending order when market conditions change and the position is no longer desired\n- **Order Cleanup** — Cancel a stale order that missed its fill window before resubmitting with updated parameters\n\n**Best Practices**\n\n- Verify order status is cancellable before sending cancel request\n- Always check response status is CANCELED to confirm success\n",
        "operationId": "cancel_order",
        "parameters": [
          {
            "in": "header",
            "name": "X-COINS-APIKEY",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication."
          },
          {
            "in": "query",
            "name": "orderId",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "System-assigned order ID.",
            "example": 1205324142243592400
          },
          {
            "in": "query",
            "name": "origClientOrderId",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Client-assigned order ID.",
            "example": "165838718862761"
          },
          {
            "in": "query",
            "name": "recvWindow",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 60000
            },
            "description": "Request validity window in milliseconds. Default: 5000, Maximum: 60000."
          },
          {
            "in": "query",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "description": "Unix timestamp in milliseconds.",
            "example": 1507725176532
          },
          {
            "in": "query",
            "name": "signature",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "HMAC SHA256 signature of the query string [📖 Learn More](https://api.docs.coins.ph/reference/general#signed-endpoint-examples-for-post-openapiv1order)"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "Cancel Order",
            "source": "curl --location --request DELETE 'https://api.pro.coins.ph/openapi/v1/order' \\\n--header 'X-COINS-APIKEY: <your api key>' \\\n--data-urlencode 'orderId=1205324142243592448' \\\n--data-urlencode 'timestamp=1507725176532' \\\n--data-urlencode 'signature=<calculated_signature>'\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Order cancelled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "symbol": {
                      "type": "string",
                      "example": "BCHBUSD"
                    },
                    "orderId": {
                      "type": "integer",
                      "format": "int64",
                      "example": 1205324142243592400
                    },
                    "clientOrderId": {
                      "type": "string",
                      "example": "165838718862761"
                    },
                    "price": {
                      "type": "string",
                      "example": "2"
                    },
                    "origQty": {
                      "type": "string",
                      "example": "10"
                    },
                    "executedQty": {
                      "type": "string",
                      "example": "3"
                    },
                    "cummulativeQuoteQty": {
                      "type": "string",
                      "example": "16"
                    },
                    "status": {
                      "type": "string",
                      "example": "CANCELED"
                    },
                    "timeInForce": {
                      "type": "string",
                      "example": "GTC"
                    },
                    "type": {
                      "type": "string",
                      "example": "LIMIT"
                    },
                    "side": {
                      "type": "string",
                      "example": "SELL"
                    }
                  }
                },
                "examples": {
                  "canceled": {
                    "summary": "Order Canceled",
                    "value": {
                      "symbol": "BCHBUSD",
                      "orderId": 1205324142243592400,
                      "clientOrderId": "165838718862761",
                      "price": "2",
                      "origQty": "10",
                      "executedQty": "3",
                      "cummulativeQuoteQty": "16",
                      "status": "CANCELED",
                      "timeInForce": "GTC",
                      "type": "LIMIT",
                      "side": "SELL"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "API error response. The `code` field contains the internal API error code (not an HTTP status code).\n\n| Code | Description |\n|---|---|\n| -2011 | Unknown order sent |\n| -2013 | Order does not exist |\n\nFor the full list of error codes, see [Error Codes](https://api.docs.coins.ph/reference/error-codes).\n"
          }
        }
      }
    },
    "/openapi/v1/openOrders": {
      "get": {
        "tags": [
          "Spot"
        ],
        "summary": "Current Open Orders (USER_DATA)",
        "description": "Get all open orders on a symbol. If symbol is not sent, returns open orders for all symbols.\n\n---\n\n## Additional Info\n\n**Rate Limit** [📖 Learn More](https://api.docs.coins.ph/reference/general#api-limit-introduction)\n\nWeight: 10\n\n**Use Cases** [🧩 SDK](https://api.docs.coins.ph/reference/general#sdk)\n\n- **Exposure Check** — Retrieve all open orders on a symbol to calculate total pending exposure before placing additional orders\n- **State Sync** — Reload all active orders after a reconnect or application restart to restore local state\n- **Strategy Audit** — List all open orders across symbols to confirm no stale orders remain before switching strategies\n\n**Best Practices**\n\n- Always pass symbol when possible to minimize weight usage\n- Use this endpoint to sync local order state with the exchange\n",
        "operationId": "get_open_orders",
        "parameters": [
          {
            "in": "header",
            "name": "X-COINS-APIKEY",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication."
          },
          {
            "in": "query",
            "name": "symbol",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Trading pair symbol. If omitted, returns open orders for all symbols.",
            "example": "BTCUSDT"
          },
          {
            "in": "query",
            "name": "recvWindow",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 60000
            },
            "description": "Request validity window in milliseconds. Default: 5000, Maximum: 60000."
          },
          {
            "in": "query",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "description": "Unix timestamp in milliseconds.",
            "example": 1507725176532
          },
          {
            "in": "query",
            "name": "signature",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "HMAC SHA256 signature of the query string [📖 Learn More](https://api.docs.coins.ph/reference/general#signed-endpoint-examples-for-post-openapiv1order)"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "Open Orders by Symbol",
            "source": "curl --get --location 'https://api.pro.coins.ph/openapi/v1/openOrders' \\\n--header 'X-COINS-APIKEY: <your api key>' \\\n--data-urlencode 'symbol=BTCUSDT' \\\n--data-urlencode 'timestamp=1507725176532' \\\n--data-urlencode 'signature=<calculated_signature>'\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Open orders retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "symbol": {
                        "type": "string",
                        "example": "BTCUSDT"
                      },
                      "orderId": {
                        "type": "integer",
                        "format": "int64",
                        "example": 1202289462787244800
                      },
                      "clientOrderId": {
                        "type": "string",
                        "example": "165806087267756"
                      },
                      "price": {
                        "type": "string",
                        "example": "20000"
                      },
                      "origQty": {
                        "type": "string",
                        "example": "0.01"
                      },
                      "executedQty": {
                        "type": "string",
                        "example": "0"
                      },
                      "cummulativeQuoteQty": {
                        "type": "string",
                        "example": "0"
                      },
                      "status": {
                        "type": "string",
                        "example": "NEW"
                      },
                      "timeInForce": {
                        "type": "string",
                        "example": "GTC"
                      },
                      "type": {
                        "type": "string",
                        "example": "LIMIT"
                      },
                      "side": {
                        "type": "string",
                        "example": "BUY"
                      },
                      "stopPrice": {
                        "type": "string",
                        "example": "0"
                      },
                      "isWorking": {
                        "type": "boolean",
                        "example": true
                      },
                      "time": {
                        "type": "integer",
                        "format": "int64",
                        "example": 1507725176532
                      },
                      "updateTime": {
                        "type": "integer",
                        "format": "int64",
                        "example": 1507725176532
                      }
                    }
                  }
                },
                "examples": {
                  "open_orders": {
                    "summary": "Open Orders List",
                    "value": [
                      {
                        "symbol": "BTCUSDT",
                        "orderId": 1202289462787244800,
                        "clientOrderId": "165806087267756",
                        "price": "20000",
                        "origQty": "0.01",
                        "executedQty": "0",
                        "cummulativeQuoteQty": "0",
                        "status": "NEW",
                        "timeInForce": "GTC",
                        "type": "LIMIT",
                        "side": "BUY",
                        "stopPrice": "0",
                        "isWorking": true,
                        "time": 1507725176532,
                        "updateTime": 1507725176532
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "API error response. The `code` field contains the internal API error code (not an HTTP status code).\n\n| Code | Description |\n|---|---|\n| -1121 | Invalid symbol |\n\nFor the full list of error codes, see [Error Codes](https://api.docs.coins.ph/reference/error-codes).\n"
          }
        }
      },
      "delete": {
        "tags": [
          "Spot"
        ],
        "summary": "Cancel All Open Orders on a Symbol (TRADE)",
        "description": "Cancels all active orders on a symbol. Quickly cancel all open orders for a specific\ntrading pair in a single request, useful for risk management and rapid position adjustment.\n\n**Key Notes**\n\n- Cancels ALL active orders (NEW and PARTIALLY_FILLED) for the specified symbol.\n- Does not affect orders already FILLED, CANCELED, or EXPIRED.\n- Returns an array of all cancelled orders.\n- Empty array `[]` if no open orders exist for the symbol.\n\n---\n\n## Additional Info\n\n**Rate Limit** [📖 Learn More](https://api.docs.coins.ph/reference/general#api-limit-introduction)\n\nWeight: 1\n\n**Use Cases** [🧩 SDK](https://api.docs.coins.ph/reference/general#sdk)\n\n- **Emergency Stop** — Cancel all orders immediately during unexpected market conditions\n- **Strategy Reset** — Clear all pending orders before applying a new trading strategy\n- **Risk Management** — Remove all exposure for a specific trading pair quickly\n\n**Best Practices**\n\n- Verify the `symbol` parameter is correctly formatted and valid\n- Use cautiously — this is a powerful operation that affects all orders on a symbol\n",
        "operationId": "cancel_all_open_orders",
        "parameters": [
          {
            "in": "header",
            "name": "X-COINS-APIKEY",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication."
          },
          {
            "in": "query",
            "name": "symbol",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading pair symbol for which to cancel all open orders.",
            "example": "BTCUSDT"
          },
          {
            "in": "query",
            "name": "recvWindow",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 60000
            },
            "description": "Request validity window in milliseconds. Default: 5000, Maximum: 60000."
          },
          {
            "in": "query",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "description": "Unix timestamp in milliseconds.",
            "example": 1507725176532
          },
          {
            "in": "query",
            "name": "signature",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "HMAC SHA256 signature of the query string [📖 Learn More](https://api.docs.coins.ph/reference/general#signed-endpoint-examples-for-post-openapiv1order)"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "Cancel All Open Orders on a Symbol",
            "source": "curl --location --request DELETE 'https://api.pro.coins.ph/openapi/v1/openOrders' \\\n--header 'X-COINS-APIKEY: <your api key>' \\\n--data-urlencode 'symbol=BTCUSDT' \\\n--data-urlencode 'timestamp=1507725176532' \\\n--data-urlencode 'signature=<calculated_signature>'\n"
          }
        ],
        "responses": {
          "200": {
            "description": "All open orders for the symbol cancelled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "symbol": {
                        "type": "string",
                        "example": "BTCUSDT"
                      },
                      "orderId": {
                        "type": "integer",
                        "format": "int64",
                        "example": 1200757068661824000
                      },
                      "clientOrderId": {
                        "type": "string",
                        "example": "165787781474653"
                      },
                      "price": {
                        "type": "string",
                        "example": "19999"
                      },
                      "origQty": {
                        "type": "string",
                        "example": "0.01"
                      },
                      "executedQty": {
                        "type": "string",
                        "example": "0"
                      },
                      "cummulativeQuoteQty": {
                        "type": "string",
                        "example": "0"
                      },
                      "status": {
                        "type": "string",
                        "example": "CANCELED"
                      },
                      "timeInForce": {
                        "type": "string",
                        "example": "GTC"
                      },
                      "type": {
                        "type": "string",
                        "example": "LIMIT"
                      },
                      "side": {
                        "type": "string",
                        "example": "BUY"
                      },
                      "stopPrice": {
                        "type": "string",
                        "example": "0"
                      },
                      "origQuoteOrderQty": {
                        "type": "string",
                        "example": "0"
                      }
                    }
                  }
                },
                "examples": {
                  "canceled_all": {
                    "summary": "All Orders Cancelled",
                    "value": [
                      {
                        "symbol": "BTCUSDT",
                        "orderId": 1200757068661824000,
                        "clientOrderId": "165787781474653",
                        "price": "19999",
                        "origQty": "0.01",
                        "executedQty": "0",
                        "cummulativeQuoteQty": "0",
                        "status": "CANCELED",
                        "timeInForce": "GTC",
                        "type": "LIMIT",
                        "side": "BUY",
                        "stopPrice": "0",
                        "origQuoteOrderQty": "0"
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "API error response. The `code` field contains the internal API error code (not an HTTP status code).\n\n| Code | Description |\n|---|---|\n| -4020 | No open orders |\n| -1121 | Invalid symbol |\n\nFor the full list of error codes, see [Error Codes](https://api.docs.coins.ph/reference/error-codes).\n"
          }
        }
      }
    },
    "/openapi/v1/order/cancelReplace": {
      "post": {
        "tags": [
          "Spot"
        ],
        "summary": "Cancel and Replace Order (TRADE)",
        "description": "Cancel an existing active order and place a new order on the same symbol in a single atomic operation.\nIf the cancellation or new order placement fails, the entire operation is rolled back.\n\nThis endpoint is used to modify parameters (such as quantity, price) of an existing open order\nby cancelling it and immediately placing a replacement order.\n\n**Cancel Replace Mode**\n\n| Mode | Description |\n|---|---|\n| STOP_ON_FAILURE | If the cancel request fails, the new order placement will not be attempted |\n| ALLOW_FAILURE | New order placement will be attempted even if the cancel request fails |\n\n**Cancel Restrictions**\n\n| Restriction | Description |\n|---|---|\n| ONLY_NEW | Cancel will succeed only if the order status is NEW |\n| ONLY_PARTIALLY_FILLED | Cancel will succeed only if the order status is PARTIALLY_FILLED |\n\n**Order Type Requirements**\n\n| Type | Required Additional Parameters |\n|---|---|\n| LIMIT | timeInForce, quantity, price |\n| MARKET | quantity OR quoteOrderQty |\n| STOP_LOSS | quantity OR quoteOrderQty, stopPrice |\n| STOP_LOSS_LIMIT | timeInForce, quantity, price, stopPrice |\n| TAKE_PROFIT | quantity OR quoteOrderQty, stopPrice |\n| TAKE_PROFIT_LIMIT | timeInForce, quantity, price, stopPrice |\n| LIMIT_MAKER | quantity, price |\n\n**Key Notes**\n\n- Either `cancelOrderId` or `cancelOrigClientOrderId` must be sent to identify the order to cancel.\n- If both `cancelOrderId` and `cancelOrigClientOrderId` are provided, `cancelOrderId` takes precedence.\n- `newClientOrderId` will replace `clientOrderId` of the cancelled order, freeing it up for new orders.\n- The new order placed may trigger an immediate fill if conditions are met.\n\n---\n\n## Additional Info\n\n**Rate Limit** [📖 Learn More](https://api.docs.coins.ph/reference/general#api-limit-introduction)\n\nWeight: 1\n\n**Use Cases** [🧩 SDK](https://api.docs.coins.ph/reference/general#sdk)\n\n- **Price Adjustment** — Modify the price of an existing limit order without missing fills between cancel and new order\n- **Quantity Adjustment** — Change the size of an existing order atomically\n- **Order Upgrade** — Change order type (e.g., from LIMIT to STOP_LOSS_LIMIT) while maintaining position in queue\n\n**Best Practices**\n\n- Use `STOP_ON_FAILURE` mode when you want to ensure the old order is cancelled before placing the new one\n- Use `ALLOW_FAILURE` mode when placing the new order is more important than cancelling the old one\n- Always provide `newClientOrderId` for tracking and idempotency\n- Check response `cancelResult` and `newOrderResult` fields to verify both operations succeeded\n",
        "operationId": "cancel_replace_order",
        "parameters": [
          {
            "in": "header",
            "name": "X-COINS-APIKEY",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "symbol",
                  "side",
                  "type",
                  "cancelReplaceMode",
                  "timestamp",
                  "signature"
                ],
                "properties": {
                  "symbol": {
                    "type": "string",
                    "default": "BTCPHP",
                    "description": "Trading pair symbol (e.g., BTCPHP, ETHUSDT)."
                  },
                  "side": {
                    "type": "string",
                    "enum": [
                      "BUY",
                      "SELL"
                    ],
                    "example": "BUY",
                    "description": "Order side."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "LIMIT",
                      "MARKET",
                      "STOP_LOSS",
                      "STOP_LOSS_LIMIT",
                      "TAKE_PROFIT",
                      "TAKE_PROFIT_LIMIT",
                      "LIMIT_MAKER"
                    ],
                    "example": "LIMIT",
                    "description": "Order type for the new replacement order."
                  },
                  "cancelReplaceMode": {
                    "type": "string",
                    "enum": [
                      "STOP_ON_FAILURE",
                      "ALLOW_FAILURE"
                    ],
                    "example": "STOP_ON_FAILURE",
                    "description": "Mode controlling behavior when cancel fails. STOP_ON_FAILURE: abort if cancel fails. ALLOW_FAILURE: proceed with new order even if cancel fails."
                  },
                  "timeInForce": {
                    "type": "string",
                    "enum": [
                      "GTC",
                      "IOC",
                      "FOK"
                    ],
                    "example": "GTC",
                    "description": "Time in force policy. Required for LIMIT order types."
                  },
                  "quantity": {
                    "type": "string",
                    "example": "1",
                    "description": "Order quantity in base asset units."
                  },
                  "quoteOrderQty": {
                    "type": "string",
                    "example": "400",
                    "description": "Order quantity in quote asset units. Used for MARKET orders as alternative to quantity."
                  },
                  "price": {
                    "type": "string",
                    "example": "50000",
                    "description": "Limit price for the new order. Required for LIMIT, STOP_LOSS_LIMIT, TAKE_PROFIT_LIMIT, LIMIT_MAKER."
                  },
                  "cancelOrderId": {
                    "type": "integer",
                    "format": "int64",
                    "example": 1202289462787244800,
                    "description": "System-assigned order ID of the order to cancel."
                  },
                  "cancelOrigClientOrderId": {
                    "type": "string",
                    "example": "my_order_001",
                    "description": "Client-assigned order ID of the order to cancel. Used as alternative to cancelOrderId."
                  },
                  "newClientOrderId": {
                    "type": "string",
                    "maxLength": 100,
                    "example": "my_new_order_001",
                    "description": "Client-assigned unique ID for the new replacement order. Auto-generated if not provided."
                  },
                  "stopPrice": {
                    "type": "string",
                    "example": "49000",
                    "description": "Trigger price for conditional orders (STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, TAKE_PROFIT_LIMIT)."
                  },
                  "newOrderRespType": {
                    "type": "string",
                    "enum": [
                      "ACK",
                      "RESULT",
                      "FULL"
                    ],
                    "example": "FULL",
                    "description": "Response detail level. Default: FULL for MARKET/LIMIT, ACK for others."
                  },
                  "stpFlag": {
                    "type": "string",
                    "enum": [
                      "CB",
                      "CO",
                      "CN",
                      "NONE"
                    ],
                    "example": "CB",
                    "description": "Self-Trade Prevention flag. Default: CB."
                  },
                  "cancelRestrictions": {
                    "type": "string",
                    "enum": [
                      "ALL",
                      "ONLY_NEW",
                      "ONLY_PARTIALLY_FILLED"
                    ],
                    "example": "ONLY_NEW",
                    "description": "Restrict cancel by order status. Default: ALL (cancel any status). ONLY_NEW: cancel only if status is NEW. ONLY_PARTIALLY_FILLED: cancel only if status is PARTIALLY_FILLED."
                  },
                  "recvWindow": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0,
                    "maximum": 60000,
                    "example": 5000,
                    "description": "Request validity window in milliseconds. Default: 5000, Maximum: 60000."
                  },
                  "timestamp": {
                    "type": "integer",
                    "format": "int64",
                    "example": 1656900365976,
                    "description": "Unix timestamp in milliseconds."
                  },
                  "signature": {
                    "type": "string",
                    "example": "c8db56825ae71d6d79447849e617115f4a920fa2acdcab2b053c4b2838bd6b71",
                    "description": "HMAC SHA256 signature of the query string [📖 Learn More](https://api.docs.coins.ph/reference/general#signed-endpoint-examples-for-post-openapiv1order)"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "Cancel and Replace LIMIT Order",
            "source": "curl --location --request POST 'https://api.pro.coins.ph/openapi/v1/order/cancelReplace' \\\n--header 'X-COINS-APIKEY: <your api key>' \\\n--data-urlencode 'symbol=BTCPHP' \\\n--data-urlencode 'side=BUY' \\\n--data-urlencode 'type=LIMIT' \\\n--data-urlencode 'cancelReplaceMode=STOP_ON_FAILURE' \\\n--data-urlencode 'timeInForce=GTC' \\\n--data-urlencode 'quantity=0.001' \\\n--data-urlencode 'price=50000' \\\n--data-urlencode 'cancelOrderId=1202289462787244800' \\\n--data-urlencode 'newClientOrderId=my_new_order_001' \\\n--data-urlencode 'timestamp=1656900365976' \\\n--data-urlencode 'signature=<calculated_signature>'\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Cancel and replace operation completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cancelResult": {
                      "type": "string",
                      "description": "Result of the cancel operation: SUCCESS or FAILURE.",
                      "example": "SUCCESS"
                    },
                    "newOrderResult": {
                      "type": "string",
                      "description": "Result of the new order placement: SUCCESS or NOT_ATTEMPTED.",
                      "example": "SUCCESS"
                    },
                    "cancelResponse": {
                      "type": "object",
                      "description": "Details of the cancelled order.",
                      "properties": {
                        "symbol": {
                          "type": "string",
                          "example": "BTCPHP"
                        },
                        "orderId": {
                          "type": "integer",
                          "format": "int64",
                          "example": 1202289462787244800
                        },
                        "clientOrderId": {
                          "type": "string",
                          "example": "my_order_001"
                        },
                        "price": {
                          "type": "string",
                          "example": "48000"
                        },
                        "origQty": {
                          "type": "string",
                          "example": "0.001"
                        },
                        "executedQty": {
                          "type": "string",
                          "example": "0"
                        },
                        "cummulativeQuoteQty": {
                          "type": "string",
                          "example": "0"
                        },
                        "status": {
                          "type": "string",
                          "example": "CANCELED"
                        },
                        "timeInForce": {
                          "type": "string",
                          "example": "GTC"
                        },
                        "type": {
                          "type": "string",
                          "example": "LIMIT"
                        },
                        "side": {
                          "type": "string",
                          "example": "BUY"
                        }
                      }
                    },
                    "newOrderResponse": {
                      "type": "object",
                      "description": "Details of the newly placed order.",
                      "properties": {
                        "symbol": {
                          "type": "string",
                          "example": "BTCPHP"
                        },
                        "orderId": {
                          "type": "integer",
                          "format": "int64",
                          "example": 1202289462787244800
                        },
                        "clientOrderId": {
                          "type": "string",
                          "example": "my_new_order_001"
                        },
                        "transactTime": {
                          "type": "integer",
                          "format": "int64",
                          "example": 1656900365976
                        },
                        "price": {
                          "type": "string",
                          "example": "50000"
                        },
                        "origQty": {
                          "type": "string",
                          "example": "0.001"
                        },
                        "executedQty": {
                          "type": "string",
                          "example": "0"
                        },
                        "cummulativeQuoteQty": {
                          "type": "string",
                          "example": "0"
                        },
                        "status": {
                          "type": "string",
                          "example": "NEW"
                        },
                        "timeInForce": {
                          "type": "string",
                          "example": "GTC"
                        },
                        "type": {
                          "type": "string",
                          "example": "LIMIT"
                        },
                        "side": {
                          "type": "string",
                          "example": "BUY"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful Cancel and Replace",
                    "value": {
                      "cancelResult": "SUCCESS",
                      "newOrderResult": "SUCCESS",
                      "cancelResponse": {
                        "symbol": "BTCPHP",
                        "orderId": 1202289462787244800,
                        "clientOrderId": "my_order_001",
                        "price": "48000",
                        "origQty": "0.001",
                        "executedQty": "0",
                        "cummulativeQuoteQty": "0",
                        "status": "CANCELED",
                        "timeInForce": "GTC",
                        "type": "LIMIT",
                        "side": "BUY"
                      },
                      "newOrderResponse": {
                        "symbol": "BTCPHP",
                        "orderId": 1202289462787244800,
                        "clientOrderId": "my_new_order_001",
                        "transactTime": 1656900365976,
                        "price": "50000",
                        "origQty": "0.001",
                        "executedQty": "0",
                        "cummulativeQuoteQty": "0",
                        "status": "NEW",
                        "timeInForce": "GTC",
                        "type": "LIMIT",
                        "side": "BUY"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "API error response. The `code` field contains the internal API error code (not an HTTP status code).\n\n| Code | Description |\n|---|---|\n| -2011 | Unknown order sent (cancel target not found) |\n| -2013 | Order does not exist |\n| -1013 | Filter failure: PRICE_FILTER or LOT_SIZE |\n| -1116 | Invalid orderType |\n| -2010 | New order rejected |\n\nFor the full list of error codes, see [Error Codes](https://api.docs.coins.ph/reference/error-codes).\n"
          }
        }
      }
    },
    "/openapi/v1/historyOrders": {
      "get": {
        "tags": [
          "Spot"
        ],
        "summary": "History Orders By Create Time (USER_DATA)",
        "description": "Get all historical orders of the account filtered by order **create time**: cancelled, filled, or rejected.\nRetrieves historical orders for a specific symbol with pagination support\nvia the `orderId` parameter and time-based filtering based on when the order was originally created.\n\n**Key Notes**\n\n- If `symbol` is omitted, returns historical orders for all symbols (weight: 40).\n- If `orderId` is set, returns orders with order ID >= this value (pagination).\n- `startTime` and `endTime` filter by order create time (the `time` field).\n- Default limit is 500; maximum is 1000.\n- Only data from the **last 90 days** is available.\n\nThis endpoint returns only **closed** orders. Returned statuses: FILLED, CANCELED, REJECTED, EXPIRED.\nOpen orders (NEW, PARTIALLY_FILLED) are not returned — use the Current Open Orders endpoint for those.\n\n**Time Filtering**\n\n- This endpoint filters orders by their **create time** (`time` field), i.e., the timestamp when the order was originally submitted to the exchange.\n- If you need to filter by the time an order was last updated (filled, cancelled, etc.), use the [History Orders By Update Time](/openapi/v1/getHistoryOrdersByUpdateTime) endpoint instead.\n\n---\n\n## Additional Info\n\n**Rate Limit** [📖 Learn More](https://api.docs.coins.ph/reference/general#api-limit-introduction)\n\n| Condition | Weight |\n|---|---|\n| With symbol | 10 |\n| Without symbol | 40 |\n\n**Use Cases** [🧩 SDK](https://api.docs.coins.ph/reference/general#sdk)\n\n- **Trade History** — Retrieve complete order history for reconciliation based on when orders were placed\n- **Audit** — Verify all orders placed (created) during a specific time period\n- **Export** — Pull data for external analysis by order create date\n\n**Best Practices**\n\n- Use `startTime` / `endTime` for time-range queries to avoid fetching the full history\n- Use `orderId` from the last result as pagination cursor for the next query\n- Set a reasonable `limit` to balance API calls and data volume\n- Use this endpoint when you want to find orders created within a specific window; use History Orders By Update Time when you need orders whose status changed within a window\n",
        "operationId": "get_history_orders",
        "parameters": [
          {
            "in": "header",
            "name": "X-COINS-APIKEY",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication."
          },
          {
            "in": "query",
            "name": "symbol",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Trading pair symbol. If omitted, returns historical orders for all symbols.",
            "example": "BCHBUSD"
          },
          {
            "in": "query",
            "name": "orderId",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Returns orders with order ID >= this value. Used for pagination.",
            "example": 1194453962386908700
          },
          {
            "in": "query",
            "name": "startTime",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Start time filter in milliseconds.",
            "example": 1657126000000
          },
          {
            "in": "query",
            "name": "endTime",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "End time filter in milliseconds.",
            "example": 1657130000000
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500,
              "maximum": 1000
            },
            "description": "Maximum number of orders to return. Default: 500, Maximum: 1000.",
            "example": 500
          },
          {
            "in": "query",
            "name": "recvWindow",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 60000
            },
            "description": "Request validity window in milliseconds. Default: 5000, Maximum: 60000."
          },
          {
            "in": "query",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "description": "Unix timestamp in milliseconds.",
            "example": 1507725176532
          },
          {
            "in": "query",
            "name": "signature",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "HMAC SHA256 signature of the query string [📖 Learn More](https://api.docs.coins.ph/reference/general#signed-endpoint-examples-for-post-openapiv1order)"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "History Orders",
            "source": "curl --get --location 'https://api.pro.coins.ph/openapi/v1/historyOrders' \\\n--header 'X-COINS-APIKEY: <your api key>' \\\n--data-urlencode 'symbol=BCHBUSD' \\\n--data-urlencode 'timestamp=1507725176532' \\\n--data-urlencode 'signature=<calculated_signature>'\n"
          },
          {
            "lang": "Shell",
            "label": "History Orders with Time Range",
            "source": "curl --get --location 'https://api.pro.coins.ph/openapi/v1/historyOrders' \\\n--header 'X-COINS-APIKEY: <your api key>' \\\n--data-urlencode 'symbol=BCHBUSD' \\\n--data-urlencode 'startTime=1657126000000' \\\n--data-urlencode 'endTime=1657130000000' \\\n--data-urlencode 'limit=500' \\\n--data-urlencode 'timestamp=1507725176532' \\\n--data-urlencode 'signature=<calculated_signature>'\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Historical orders retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "symbol": {
                        "type": "string",
                        "example": "BCHBUSD"
                      },
                      "orderId": {
                        "type": "integer",
                        "format": "int64",
                        "example": 1194453962386908700
                      },
                      "clientOrderId": {
                        "type": "string",
                        "example": "Y1657126007990"
                      },
                      "price": {
                        "type": "string",
                        "example": "4.56"
                      },
                      "origQty": {
                        "type": "string",
                        "example": "1"
                      },
                      "executedQty": {
                        "type": "string",
                        "example": "1"
                      },
                      "cummulativeQuoteQty": {
                        "type": "string",
                        "example": "4.56"
                      },
                      "status": {
                        "type": "string",
                        "example": "FILLED"
                      },
                      "timeInForce": {
                        "type": "string",
                        "example": "GTC"
                      },
                      "type": {
                        "type": "string",
                        "example": "LIMIT"
                      },
                      "side": {
                        "type": "string",
                        "example": "SELL"
                      },
                      "stopPrice": {
                        "type": "string",
                        "example": "0"
                      },
                      "isWorking": {
                        "type": "boolean",
                        "example": false
                      },
                      "time": {
                        "type": "integer",
                        "format": "int64",
                        "example": 1657126008273
                      },
                      "updateTime": {
                        "type": "integer",
                        "format": "int64",
                        "example": 1657126008357
                      },
                      "origQuoteOrderQty": {
                        "type": "string",
                        "example": "0"
                      }
                    }
                  }
                },
                "examples": {
                  "history_orders": {
                    "summary": "History Orders List",
                    "value": [
                      {
                        "symbol": "BCHBUSD",
                        "orderId": 1194453962386908700,
                        "clientOrderId": "Y1657126007990",
                        "price": "4.56",
                        "origQty": "1",
                        "executedQty": "1",
                        "cummulativeQuoteQty": "4.56",
                        "status": "FILLED",
                        "timeInForce": "GTC",
                        "type": "LIMIT",
                        "side": "SELL",
                        "stopPrice": "0",
                        "isWorking": false,
                        "time": 1657126008273,
                        "updateTime": 1657126008357,
                        "origQuoteOrderQty": "0"
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "API error response. The `code` field contains the internal API error code (not an HTTP status code).\n\n| Code | Description |\n|---|---|\n| -1121 | Invalid symbol |\n| -1100 | Illegal characters found in parameter |\n\nFor the full list of error codes, see [Error Codes](https://api.docs.coins.ph/reference/error-codes).\n"
          }
        }
      }
    },
    "/openapi/v1/getHistoryOrdersByUpdateTime": {
      "get": {
        "tags": [
          "Spot"
        ],
        "summary": "History Orders By Update Time (USER_DATA)",
        "description": "Get all historical orders of the account filtered by order **update time**: cancelled, filled, or rejected.\nThis endpoint is identical to History Orders By Create Time except that `startTime` and `endTime` filter\nbased on the order's **last update time** rather than the order's **create time**.\n\n**Key Notes**\n\n- `symbol` is required.\n- If `orderId` is set, returns orders with order ID >= this value (pagination).\n- `startTime` and `endTime` filter by order update time (e.g., the time an order was filled, cancelled, or partially filled).\n- Default limit is 500; maximum is 1000.\n- Only data from the **last 90 days** is available. \n\nThis endpoint returns only **closed** orders. Returned statuses: FILLED, CANCELED, REJECTED, EXPIRED.\nOpen orders (NEW, PARTIALLY_FILLED) are not returned — use the Current Open Orders endpoint for those.\n\n**Difference from History Orders By Create Time**\n\n- History Orders By Create Time (`/openapi/v1/historyOrders`): `startTime` / `endTime` match against order **create time** (`time` field).\n- This endpoint: `startTime` / `endTime` match against order **update time** (`updateTime` field).\n\n---\n\n## Additional Info\n\n**Rate Limit** [📖 Learn More](https://api.docs.coins.ph/reference/general#api-limit-introduction)\n\nWeight: 10\n\n**Use Cases** [🧩 SDK](https://api.docs.coins.ph/reference/general#sdk)\n\n- **Recent Activity Sync** — Retrieve orders that were recently filled or cancelled, regardless of when they were originally placed\n- **Incremental Polling** — Poll for order status changes since the last sync using `startTime` = last poll time\n- **Reconciliation** — Identify all orders whose state changed within a specific time window\n\n**Best Practices**\n\n- Use `startTime` / `endTime` based on the last known `updateTime` for efficient incremental sync\n- Use `orderId` from the last result as pagination cursor for the next query\n- Set a reasonable `limit` to balance API calls and data volume\n",
        "operationId": "get_history_orders_by_update_time",
        "parameters": [
          {
            "in": "header",
            "name": "X-COINS-APIKEY",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication."
          },
          {
            "in": "query",
            "name": "symbol",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading pair symbol.",
            "example": "BCHBUSD"
          },
          {
            "in": "query",
            "name": "orderId",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Returns orders with order ID >= this value. Used for pagination.",
            "example": 1194453962386908700
          },
          {
            "in": "query",
            "name": "startTime",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Start time filter in milliseconds (based on order update time).",
            "example": 1657126000000
          },
          {
            "in": "query",
            "name": "endTime",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "End time filter in milliseconds (based on order update time).",
            "example": 1657130000000
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500,
              "maximum": 1000
            },
            "description": "Maximum number of orders to return. Default: 500, Maximum: 1000.",
            "example": 500
          },
          {
            "in": "query",
            "name": "recvWindow",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 60000
            },
            "description": "Request validity window in milliseconds. Default: 5000, Maximum: 60000."
          },
          {
            "in": "query",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "description": "Unix timestamp in milliseconds.",
            "example": 1507725176532
          },
          {
            "in": "query",
            "name": "signature",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "HMAC SHA256 signature of the query string [📖 Learn More](https://api.docs.coins.ph/reference/general#signed-endpoint-examples-for-post-openapiv1order)"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "History Orders By Update Time",
            "source": "curl --get --location 'https://api.pro.coins.ph/openapi/v1/getHistoryOrdersByUpdateTime' \\\n--header 'X-COINS-APIKEY: <your api key>' \\\n--data-urlencode 'symbol=BCHBUSD' \\\n--data-urlencode 'timestamp=1507725176532' \\\n--data-urlencode 'signature=<calculated_signature>'\n"
          },
          {
            "lang": "Shell",
            "label": "History Orders By Update Time with Time Range",
            "source": "curl --get --location 'https://api.pro.coins.ph/openapi/v1/getHistoryOrdersByUpdateTime' \\\n--header 'X-COINS-APIKEY: <your api key>' \\\n--data-urlencode 'symbol=BCHBUSD' \\\n--data-urlencode 'startTime=1657126000000' \\\n--data-urlencode 'endTime=1657130000000' \\\n--data-urlencode 'limit=500' \\\n--data-urlencode 'timestamp=1507725176532' \\\n--data-urlencode 'signature=<calculated_signature>'\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Historical orders retrieved successfully (filtered by update time).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "symbol": {
                        "type": "string",
                        "example": "BCHBUSD"
                      },
                      "orderId": {
                        "type": "integer",
                        "format": "int64",
                        "example": 1194453962386908700
                      },
                      "clientOrderId": {
                        "type": "string",
                        "example": "Y1657126007990"
                      },
                      "price": {
                        "type": "string",
                        "example": "4.56"
                      },
                      "origQty": {
                        "type": "string",
                        "example": "1"
                      },
                      "executedQty": {
                        "type": "string",
                        "example": "1"
                      },
                      "cummulativeQuoteQty": {
                        "type": "string",
                        "example": "4.56"
                      },
                      "status": {
                        "type": "string",
                        "example": "FILLED"
                      },
                      "timeInForce": {
                        "type": "string",
                        "example": "GTC"
                      },
                      "type": {
                        "type": "string",
                        "example": "LIMIT"
                      },
                      "side": {
                        "type": "string",
                        "example": "SELL"
                      },
                      "stopPrice": {
                        "type": "string",
                        "example": "0"
                      },
                      "isWorking": {
                        "type": "boolean",
                        "example": false
                      },
                      "time": {
                        "type": "integer",
                        "format": "int64",
                        "example": 1657126008273
                      },
                      "updateTime": {
                        "type": "integer",
                        "format": "int64",
                        "example": 1657126008357
                      },
                      "origQuoteOrderQty": {
                        "type": "string",
                        "example": "0"
                      }
                    }
                  }
                },
                "examples": {
                  "history_orders": {
                    "summary": "History Orders List (by Update Time)",
                    "value": [
                      {
                        "symbol": "BCHBUSD",
                        "orderId": 1194453962386908700,
                        "clientOrderId": "Y1657126007990",
                        "price": "4.56",
                        "origQty": "1",
                        "executedQty": "1",
                        "cummulativeQuoteQty": "4.56",
                        "status": "FILLED",
                        "timeInForce": "GTC",
                        "type": "LIMIT",
                        "side": "SELL",
                        "stopPrice": "0",
                        "isWorking": false,
                        "time": 1657126008273,
                        "updateTime": 1657126008357,
                        "origQuoteOrderQty": "0"
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "API error response. The `code` field contains the internal API error code (not an HTTP status code).\n\n| Code | Description |\n|---|---|\n| -1121 | Invalid symbol |\n| -1100 | Illegal characters found in parameter |\n\nFor the full list of error codes, see [Error Codes](https://api.docs.coins.ph/reference/error-codes).\n"
          }
        }
      }
    },
    "/openapi/v1/myTrades": {
      "get": {
        "tags": [
          "Spot"
        ],
        "summary": "Account Trade List (USER_DATA)",
        "description": "Get trades for a specific account and symbol.\n\n- If fromId is set, returns trades with id >= fromId.\n- If startTime and endTime are both set, fromId is not required.\n- startTime and endTime cannot span more than 24 hours.\n- Maximum 1000 trades returned per request.\n- Only data from the **last 90 days** is available. \n\n---\n\n## Additional Info\n\n**Rate Limit** [📖 Learn More](https://api.docs.coins.ph/reference/general#api-limit-introduction)\n\nWeight: 10\n\n**Use Cases** [🧩 SDK](https://api.docs.coins.ph/reference/general#sdk)\n\n- **P&L Calculation** - Calculate realized profit/loss from fills\n- **Fee Audit** - Track commissions paid per trade\n- **Reconciliation** - Match trades against order history\n\n**Best Practices**\n\n- Use time range (startTime/endTime) to paginate large histories\n- Use fromId to continue from last known trade when polling\n- Commission amounts and assets vary by fee tier and promotions\n",
        "operationId": "get_my_trades",
        "parameters": [
          {
            "in": "header",
[...]
