{
  "openapi": "3.0.3",
  "info": {
    "title": "Payment",
    "description": "Coins.ph Partner Integration API v2.7\n\n## Authentication\nAll requests must include the following headers:\n- `X-COINS-APIKEY`: Your API key\n- `Timestamp`: Unix timestamp of the request\n- `Signature`: HMAC-SHA256 signature of the request\n\nRequests and webhook payloads must be signed using HMAC-SHA256 with the API secret.\n\n## Environments\n- **Sandbox**: `https://api.9001.pl-qa.coinsxyz.me`\n- **Production**: `https://api.pro.coins.ph`\n",
    "version": "2.7",
    "contact": {
      "name": "Coins.ph Tech Ops",
      "email": "tech_ops@coins.ph"
    }
  },
  "servers": [
    {
      "url": "https://api.pro.coins.ph",
      "description": "Production"
    },
    {
      "url": "https://api.9001.pl-qa.coinsxyz.me",
      "description": "Sandbox"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": [],
      "TimestampAuth": [],
      "SignatureAuth": []
    }
  ],
  "tags": [
    {
      "name": "Collections - QRPH",
      "description": "QRPH code generation and management"
    },
    {
      "name": "Collections - Crypto",
      "description": "Crypto deposit address"
    },
    {
      "name": "Checkout",
      "description": "Checkout creation and management"
    },
    {
      "name": "Checkout Refund",
      "description": "Checkout refund operations"
    },
    {
      "name": "Tokenized Checkout",
      "description": "Password-free (auto-debit) checkout"
    },
    {
      "name": "Disbursements",
      "description": "Cash-out and disbursement operations"
    },
    {
      "name": "Refund",
      "description": "Refund operations"
    },
    {
      "name": "Reconciliation",
      "description": "Reconciliation report"
    },
    {
      "name": "Trading - Convert",
      "description": "Convert trading operations"
    },
    {
      "name": "Trading - OTC",
      "description": "OTC trading for Business Account"
    },
    {
      "name": "Order History",
      "description": "Order history and details"
    },
    {
      "name": "Utility",
      "description": "Account balance, transfers, and utility endpoints"
    },
    {
      "name": "Virtual Account",
      "description": "Virtual account creation and management"
    },
    {
      "name": "Scan to Pay",
      "description": "QR code scan-to-pay payment operations"
    }
  ],
  "paths": {
    "/openapi/fiat/v1/generate_qr_code": {
      "post": {
        "tags": [
          "Collections - QRPH"
        ],
        "summary": "Generate Dynamic QRPH",
        "description": "Returns a dynamic QRPH code.",
        "operationId": "generateDynamicQRPH",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "requestId",
                  "source",
                  "amount",
                  "currency"
                ],
                "properties": {
                  "requestId": {
                    "type": "string",
                    "minLength": 15,
                    "maxLength": 19,
                    "description": "Unique string assigned by the partner for idempotency validation.",
                    "example": "3C1706X9619A7614YWS"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "DYNAMIC"
                    ],
                    "description": "Can only be DYNAMIC. Going to be deprecated soon."
                  },
                  "source": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 30,
                    "description": "Assigned by the partner. Usually the abbreviation of the initiating party.",
                    "example": "CUSTOMIZABLE"
                  },
                  "amount": {
                    "type": "number",
                    "format": "decimal",
                    "description": "The amount represented by the QR code.",
                    "example": 200.99
                  },
                  "currency": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 3,
                    "description": "Only the Philippine peso is supported.",
                    "example": "PHP"
                  },
                  "remark": {
                    "type": "string",
                    "maxLength": 99,
                    "description": "Assigned by the partner.",
                    "example": "CUSTOMIZABLE"
                  },
                  "expiredSeconds": {
                    "type": "integer",
                    "description": "Default QR code expiry is 900 seconds, maximum expiry can be up to 1800 seconds.",
                    "example": 1200
                  },
                  "qrCodeMerchantName": {
                    "type": "string",
                    "maxLength": 64,
                    "deprecated": true,
                    "description": "Usually used to replace the default name of the client.",
                    "example": "CUSTOMIZABLE"
                  },
                  "merchantId": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "Server generated sub merchant id.",
                    "example": "6904028542363648"
                  },
                  "subMerchantId": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "Sub-merchant ID.",
                    "example": "2904028542363648"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DynamicQRPHResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ]
      }
    },
    "/openapi/fiat/v1/cancel_qr_code": {
      "post": {
        "tags": [
          "Collections - QRPH"
        ],
        "summary": "Cancel Dynamic QRPH",
        "description": "Cancels a previously created dynamic QRPH code.",
        "operationId": "cancelDynamicQRPH",
        "parameters": [
          {
            "name": "referenceId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 15,
              "maxLength": 19
            },
            "description": "Server generated reference id.",
            "example": "1950928204919496214"
          },
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CancelQRPHResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/openapi/fiat/v1/generate/static/qr_code": {
      "post": {
        "tags": [
          "Collections - QRPH"
        ],
        "summary": "Generate Static QRPH",
        "description": "Returns a static QRPH code.",
        "operationId": "generateStaticQRPH",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "requestId",
                  "source",
                  "currency"
                ],
                "properties": {
                  "requestId": {
                    "type": "string",
                    "minLength": 15,
                    "maxLength": 19,
                    "description": "Assigned by the partner for idempotency validation.",
                    "example": "3C1706X9619A7614YWS"
                  },
                  "source": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 30,
                    "description": "Assigned by the partner.",
                    "example": "CUSTOMIZABLE"
                  },
                  "currency": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 3,
                    "description": "Only the Philippine peso is supported.",
                    "example": "PHP"
                  },
                  "remark": {
                    "type": "string",
                    "maxLength": 99,
                    "description": "Assigned by the partner."
                  },
                  "qrCodeMerchantName": {
                    "type": "string",
                    "maxLength": 64,
                    "deprecated": true,
                    "description": "Usually used to replace the default name of the client."
                  },
                  "merchantId": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "Server generated sub merchant id."
                  },
                  "subMerchantId": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "Sub-merchant ID.",
                    "example": "2904028542363648"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/StaticQRPHResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ]
      }
    },
    "/openapi/fiat/v1/update/qr_code": {
      "post": {
        "tags": [
          "Collections - QRPH"
        ],
        "summary": "Update Static QRPH",
        "description": "Change the state of a previously created static QRPH code.",
        "operationId": "updateStaticQRPH",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "requestId",
                  "status"
                ],
                "properties": {
                  "requestId": {
                    "type": "string",
                    "minLength": 15,
                    "maxLength": 19,
                    "description": "Assigned by the partner for idempotency validation."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "ACTIVE",
                      "SUSPEND"
                    ],
                    "description": "State of the QR code."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "requestId": {
                              "type": "string",
                              "example": "3C1706X9619A7614YWS"
                            },
                            "referenceId": {
                              "type": "string",
                              "example": "1950928204919496214"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "STATIC"
                              ]
                            },
                            "qrCodeMerchantName": {
                              "type": "string",
                              "example": "CUSTOMIZABLE"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "ACTIVE",
                                "SUSPEND"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/openapi/fiat/v1/get_qr_code/static/list": {
      "get": {
        "tags": [
          "Collections - QRPH"
        ],
        "summary": "Get Static QRPH List",
        "description": "Returns a list of static QR codes previously created.",
        "operationId": "getStaticQRPHList",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "SUSPEND"
              ]
            },
            "description": "Filter by state of the QR code."
          },
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "requestId": {
                                "type": "string",
                                "example": "3C1706X9619A7614YWS"
                              },
                              "qrCode": {
                                "type": "string",
                                "description": "QR code string."
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "ACTIVE",
                                  "SUSPEND"
                                ]
                              },
                              "qrCodeMerchantName": {
                                "type": "string",
                                "example": "CUSTOMIZABLE"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/openapi/fiat/v1/get_qr_code": {
      "get": {
        "tags": [
          "Collections - QRPH"
        ],
        "summary": "Get QRPH Status",
        "description": "Returns the current status of a previously created QRPH code.",
        "operationId": "getQRPHStatus",
        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 15,
              "maxLength": 19
            },
            "description": "Assigned by the partner for idempotency validation."
          },
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/QRPHStatusResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/openapi/wallet/v1/deposit/address": {
      "get": {
        "tags": [
          "Collections - Crypto"
        ],
        "summary": "Crypto Get Deposit Address",
        "description": "Returns a crypto deposit address.",
        "operationId": "getCryptoDepositAddress",
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Abbreviated token name.",
            "example": "USDT"
          },
          {
            "name": "network",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Abbreviated network name.",
            "example": "XRP"
          },
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Unix timestamp indicating when the request was made.",
            "example": 1747306565330
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "coin": {
                      "type": "string",
                      "example": "USDT"
                    },
                    "address": {
                      "type": "string",
                      "example": "rKrDJLGiSrKsRRtEQVgnWJnKALp5NJeDkC"
                    },
                    "addressTag": {
                      "type": "string",
                      "example": "1119001253"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/fiat/v1/checkout/create-checkout": {
      "post": {
        "tags": [
          "Checkout"
        ],
        "summary": "Create Checkout",
        "description": "Create an instance of a checkout.",
        "operationId": "createCheckout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CreateCheckoutResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ]
      }
    },
    "/openapi/fiat/v1/checkout/status-check": {
      "get": {
        "tags": [
          "Checkout"
        ],
        "summary": "Get Checkout Status",
        "description": "Returns the current status of a previously created checkout.",
        "operationId": "getCheckoutStatus",
        "parameters": [
          {
            "name": "checkoutId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Server generated checkout id. This takes first priority.",
            "example": "1984059672474453473"
          },
          {
            "name": "refundId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Server generated checkout id. This takes first priority.",
            "example": "1984059672474453473"
          },
          {
            "name": "requestId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Assigned by the partner. This takes second priority.",
            "example": "3C1706X9619A7614YWS"
          },
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CheckoutStatusResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/openapi/fiat/v1/checkout/refund": {
      "post": {
        "tags": [
          "Checkout Refund"
        ],
        "summary": "Checkout Refund",
        "description": "This Endpoint allows Merchants to initiate a refund for a Checkout transaction.\n\n**Webhook:** ✅ Supported (requires Coins' configuration)",
        "operationId": "checkoutRefund",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "requestId",
                  "checkoutId",
                  "amount",
                  "currency",
                  "reason",
                  "method"
                ],
                "properties": {
                  "requestId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Unique Merchant refund request identifier (idempotency key).",
                    "example": "REQ123456789"
                  },
                  "checkoutId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Original Checkout order ID to refund.",
                    "example": "CHK20240101000001"
                  },
                  "amount": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Refund amount. Must be a valid decimal with up to 2 decimal places.",
                    "example": "100.00"
                  },
                  "currency": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Currency code.",
                    "example": "PHP"
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "Reason for refund.",
                    "example": "Customer requested refund"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "1"
                    ],
                    "description": "Refund method. \"1\" = original route.",
                    "example": "1"
                  }
                }
              },
              "example": {
                "requestId": "REQ123456789",
                "checkoutId": "CHK20240101000001",
                "amount": "100.00",
                "currency": "PHP",
                "reason": "Customer requested refund",
                "method": "1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "0 = success, non-zero = error code.",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/CheckoutRefundData"
                    }
                  }
                },
                "example": {
                  "status": 0,
                  "data": {
                    "refundId": "RFD987654321",
                    "checkoutId": "CHK20240101000001",
                    "requestId": "REQ123456789",
                    "amount": "100.00",
                    "currency": "PHP",
                    "status": "PROCESSING",
                    "refundReferenceId": "RREF202401150001",
                    "paymentReferenceId": "PREF202401100001",
                    "completedAt": null,
                    "createdAt": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ]
      }
    },
    "/openapi/fiat/v1/checkout/refund/status-check": {
      "get": {
        "tags": [
          "Checkout Refund"
        ],
        "summary": "Refund Status Check",
        "description": "This Endpoint allows Merchants to query the status of a Checkout refund by either `refundId` or `requestId`. At least one of the two must be provided.",
        "operationId": "checkoutRefundStatusCheck",
        "parameters": [
          {
            "name": "refundId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            },
            "description": "Coins-generated refund ID. At least one of `refundId` or `requestId` must be provided.",
            "example": "RFD987654321"
          },
          {
            "name": "requestId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            },
            "description": "Merchant refund request ID (idempotency key). At least one of `refundId` or `requestId` must be provided.",
            "example": "REQ123456789"
          },
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "0 = success, non-zero = error code.",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/CheckoutRefundData"
                    }
                  }
                },
                "example": {
                  "status": 0,
                  "data": {
                    "refundId": "RFD987654321",
                    "checkoutId": "CHK20240101000001",
                    "requestId": "REQ123456789",
                    "amount": "100.00",
                    "currency": "PHP",
                    "status": "SUCCESS",
                    "refundReferenceId": "RREF202401150001",
                    "paymentReferenceId": "PREF202401100001",
                    "completedAt": "2024-01-15T11:00:00Z",
                    "createdAt": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/fiat/v1/auto-debit/token-apply": {
      "post": {
        "tags": [
          "Tokenized Checkout"
        ],
        "summary": "Apply for Token",
        "description": "Create an auto-debit authorization link. Once authorized by the user, it can be used for future payments without requiring authorization each time.",
        "operationId": "tokenApply",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenApplyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/TokenApplyResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ]
      }
    },
    "/openapi/fiat/v1/auto-debit/token-query": {
      "post": {
        "tags": [
          "Tokenized Checkout"
        ],
        "summary": "Query Payment Token",
        "description": "Check the status of a current token, whether it is valid, expired, or revoked.",
        "operationId": "tokenQuery",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/TokenQueryResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ]
      }
    },
    "/openapi/fiat/v1/auto-debit/token-remove": {
      "post": {
        "tags": [
          "Tokenized Checkout"
        ],
        "summary": "Remove Payment Token",
        "description": "Revoke an authorized token so it can no longer be used for subsequent payments.",
        "operationId": "removePaymentToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customerId",
                  "tokenId"
                ],
                "properties": {
                  "customerId": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "Customer ID.",
                    "example": "customer_12345"
                  },
                  "tokenId": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "Token ID.",
                    "example": "token_abc123def456"
                  },
                  "removeReason": {
                    "type": "string",
                    "maxLength": 256,
                    "description": "Reason for deletion."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "customerId": {
                              "type": "string"
                            },
                            "tokenId": {
                              "type": "string"
                            },
                            "tokenStatus": {
                              "type": "string",
                              "example": "REVOKED"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ]
      }
    },
    "/openapi/fiat/v1/auto-debit/token-pay": {
      "post": {
        "tags": [
          "Tokenized Checkout"
        ],
        "summary": "Pay with Token",
        "description": "Initiate an auto-debit payment using an authorized token.",
        "operationId": "payWithToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenPayRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/TokenPayResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ]
      }
    },
    "/openapi/fiat/v1/support-channel": {
      "post": {
        "tags": [
          "Disbursements"
        ],
        "summary": "Support Channel",
        "description": "Return the supported channels for cash-out methods.",
        "operationId": "getSupportChannel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "transactionType",
                  "currency",
                  "amount"
                ],
                "properties": {
                  "transactionType": {
                    "type": "string",
                    "description": "Set to -1 to indicate a cash-out transaction.",
                    "example": "-1"
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "PHP"
                    ],
                    "description": "Only the Philippine peso is supported."
                  },
                  "transactionChannel": {
                    "type": "string",
                    "description": "Filter by first-level channel.",
                    "enum": [
                      "INSTAPAY",
                      "SWIFTPAY_PESONET",
                      "INSTAPAY_BUSINESS"
                    ]
                  },
                  "transactionSubject": {
                    "type": "string",
                    "example": "Gcash",
                    "description": "Filter by secondary channels (e.g., Gcash)."
                  },
                  "amount": {
                    "type": "string",
                    "description": "Used to match the fee rate. Default is 0.",
                    "example": "0"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SupportChannelItem"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ]
      }
    },
    "/openapi/fiat/v1/decode/kyb_qr_code": {
      "post": {
        "tags": [
          "Disbursements"
        ],
        "summary": "Decode QRPH",
        "description": "Returns a structured breakdown of the information contained in the QR code.",
        "operationId": "decodeQRPH",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "codeMsg"
                ],
                "properties": {
                  "codeMsg": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "QR code string."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "qrType": {
                              "type": "string",
                              "example": "ph.ppmi.p2m"
                            },
                            "channel": {
                              "type": "string",
                              "enum": [
                                "INSTAPAY_QR"
                              ]
                            },
                            "channelSubject": {
                              "type": "string",
                              "example": "gcash"
                            },
                            "channelQRCodeMap": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/openapi/fiat/v1/cash-out": {
      "post": {
        "tags": [
          "Disbursements"
        ],
        "summary": "Initiate Cash-out",
        "description": "Disbursement to external financial institutions.",
        "operationId": "initiateCashOut",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currency",
                  "amount",
                  "channelName",
                  "channelSubject",
                  "extendInfo"
                ],
                "properties": {
                  "internalOrderId": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 60,
                    "description": "Unique string assigned by the partner. Required for Coins users, optional for external users.",
                    "example": "3C1706X9619A7614YWS"
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "PHP"
                    ],
                    "description": "Only the Philippine peso is supported."
                  },
                  "amount": {
                    "type": "number",
                    "format": "decimal",
                    "description": "The amount represented by the cash-out order.",
                    "example": 200.99
                  },
                  "channelName": {
                    "type": "string",
                    "enum": [
                      "INSTAPAY",
                      "INSTAPAY_QR",
                      "INSTAPAY_BUSINESS",
                      "SWIFTPAY_PESONET",
                      "COINS"
                    ],
                    "description": "Type of payment channel."
                  },
                  "channelSubject": {
                    "type": "string",
                    "description": "Example: PH：unionbank, Coins_PHP_balance (COINS internal transfer) BR：basspago, basspago_bank Abbreviated name of the Receiving Financial Institution (RFI). (Check openapi/fiat/v1/support-channel for complete list, refer to parameter: transactionSubject)",
                    "example": "unionbank"
                  },
                  "extendInfo": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Additional information regarding cashout",
                    "properties": {
                      "recipientName": {
                        "type": "string",
                        "description": "Recipient's name. Required for bank/e-wallet/QRPH/Coins internal transfers.",
                        "example": "sandyopenapitest"
                      },
                      "recipientAccountNumber": {
                        "type": "string",
                        "description": "Recipient's account number. Required for bank/e-wallet/QRPH/Coins internal transfers.",
                        "example": "123456789"
                      },
                      "customSenderName": {
                        "type": "string",
                        "description": "KYB custom display name for the sender.",
                        "example": "KYB custom Display name"
                      },
                      "merchantMobileNumber": {
                        "type": "string",
                        "description": "Merchant mobile number (QRPH)."
                      },
                      "amount": {
                        "type": "string",
                        "description": "Amount from QR code (QRPH)."
                      },
                      "merchantCity": {
                        "type": "string",
                        "description": "Merchant city (QRPH).",
                        "example": "Mandaluyong"
                      },
                      "purpose": {
                        "type": "string",
                        "description": "Purpose of the transaction (QRPH)."
                      },
                      "referenceLabel": {
                        "type": "string",
                        "description": "Reference label from QR code (QRPH).",
                        "example": "217050000037058984159"
                      },
                      "tfrName": {
                        "type": "string",
                        "description": "Transfer name (QRPH).",
                        "example": "Inihaw X 4766"
                      },
                      "tfrBnkCode": {
                        "type": "string",
                        "description": "Transfer bank code (QRPH).",
                        "example": "GXCHPHM2XXX"
                      },
                      "proxyNotify": {
                        "type": "string",
                        "description": "Proxy notification flag (QRPH).",
                        "example": "000"
                      },
                      "storeLabel": {
                        "type": "string",
                        "description": "Store label (QRPH).",
                        "example": "INIX0002"
                      },
                      "paymentType": {
                        "type": "string",
                        "description": "Payment type (QRPH)."
                      },
                      "customerLabel": {
                        "type": "string",
                        "description": "Customer label (QRPH)."
                      },
                      "terminalLabel": {
                        "type": "string",
                        "description": "Terminal label (QRPH).",
                        "example": "GEN00001"
                      },
                      "merchantId": {
                        "type": "string",
                        "description": "Merchant ID (QRPH).",
                        "example": "217020000037063469158"
                      },
                      "merchantCategoryCode": {
                        "type": "string",
                        "description": "Merchant category code (QRPH).",
                        "example": "5814"
                      },
                      "tfrAcctNo": {
                        "type": "string",
                        "description": "Transfer account number (QRPH).",
                        "example": "217020000037063469158"
                      },
                      "acqInfo": {
                        "type": "string",
                        "description": "Acquirer information (QRPH)."
                      },
                      "postCode": {
                        "type": "string",
                        "description": "Postal code (QRPH).",
                        "example": "1550"
                      },
                      "uniqueId": {
                        "type": "string",
                        "description": "Unique identifier from QR code (QRPH).",
                        "example": "ph.ppmi.p2m"
                      },
                      "loyaltyNumber": {
                        "type": "string",
                        "description": "Loyalty number (QRPH)."
                      },
                      "ispb": {
                        "type": "string",
                        "description": "ISPB code of the bank (BR bank account).",
                        "example": "45246410"
                      },
                      "issuer": {
                        "type": "string",
                        "description": "Issuer code (BR bank account).",
                        "example": "0001"
                      },
                      "number": {
                        "type": "string",
                        "description": "Account number (BR bank account).",
                        "example": "43607160"
                      },
                      "accountType": {
                        "type": "string",
                        "description": "Account type (BR bank account).",
                        "example": "CACC"
                      },
                      "document": {
                        "type": "string",
                        "description": "Document number, CPF or CNPJ (BR bank account).",
                        "example": "46919983000165"
                      },
                      "name": {
                        "type": "string",
                        "description": "Recipient name (BR bank account).",
                        "example": "Coins.Xyz Digital Markets Ltda"
                      },
                      "pixKey": {
                        "type": "string",
                        "description": "PIX key value (BR pixkey).",
                        "example": "91351359720"
                      },
                      "pixKeyType": {
                        "type": "string",
                        "description": "PIX key type (BR pixkey).",
                        "enum": [
                          "cpf",
                          "cnpj",
                          "email",
                          "phone",
                          "evp"
                        ],
                        "example": "cpf"
                      },
                      "remarks": {
                        "type": "string",
                        "description": "Remarks or notes for the cash-out transaction.",
                        "example": "Payment for services"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "externalOrderId": {
                      "type": "string",
                      "description": "Server generated external order id.",
                      "example": "1950928204919496214"
                    },
                    "internalOrderId": {
                      "type": "string",
                      "description": "Previously provided by the partner.",
                      "example": "3C1706X9619A7614YWS"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ]
      }
    },
    "/openapi/wallet/v1/withdraw/apply": {
      "post": {
        "tags": [
          "Disbursements"
        ],
        "summary": "Crypto Apply Withdrawal",
        "description": "Make a crypto withdrawal to an external wallet.",
        "operationId": "cryptoApplyWithdrawal",
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "USDT"
          },
          {
            "name": "network",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "XRP"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "rKrDJLGiSrKsRRtEQVgnWJnKALp5NJeDkC"
          },
          {
            "name": "addressTag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1119001253"
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "decimal"
            },
            "example": 200.64
          },
          {
            "name": "withdrawOrderId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Assigned by the partner."
          },
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier of the withdrawal request.",
                      "example": "459165282044051456"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/fiat/v1/refund/pay-in-refund": {
      "post": {
        "tags": [
          "Refund"
        ],
        "summary": "Cash-in Refund",
        "description": "Initiate a refund for a cash-in transaction (only QRPH refund is supported).",
        "operationId": "cashInRefund",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashInRefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "requestId": {
                              "type": "string",
                              "description": "Merchant refund request ID."
                            },
                            "originalOrderId": {
                              "type": "string",
                              "description": "Original order ID."
                            },
                            "referenceId": {
                              "type": "string",
                              "description": "Coins-generated reference ID."
                            },
                            "refundAmount": {
                              "type": "string",
                              "description": "Refund amount."
                            },
                            "refundCurrency": {
                              "type": "string",
                              "description": "Refund currency."
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ]
      }
    },
    "/openapi/fiat/refund/account": {
      "get": {
        "tags": [
          "Refund"
        ],
        "summary": "Get Payer Account",
        "description": "Retrieve payer account information for a specific reference ID.",
        "operationId": "getPayerAccount",
        "parameters": [
          {
            "name": "referenceId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Reference ID for the transaction."
          },
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "referenceId": {
                              "type": "string"
                            },
                            "senderAccountName": {
                              "type": "string"
                            },
                            "senderAccountNumber": {
                              "type": "string"
                            },
                            "senderChannel": {
                              "type": "string"
                            },
                            "senderSubject": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/openapi/fiat/v1/apply/merchant_bill": {
      "post": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Apply for Report",
        "description": "Apply for the reconciliation report. The transaction statement file for the previous day is generated after 10:00 AM (UTC+8) each day.",
        "operationId": "applyForReport",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "requestId",
                  "fileType",
                  "billDate"
                ],
                "properties": {
                  "requestId": {
                    "type": "string",
                    "minLength": 15,
                    "maxLength": 19,
                    "description": "Assigned by the partner for idempotency validation."
                  },
                  "fileType": {
                    "type": "string",
                    "description": "Download file type enumeration.",
                    "example": "Transaction Report"
                  },
                  "billDate": {
                    "type": "string",
                    "format": "date",
                    "description": "Statistics on billing data date format: yyyy-MM-dd",
                    "example": "2026-02-02"
                  },
                  "operateType": {
                    "type": "integer",
                    "description": "1 = regenerate file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "downloadUrl": {
                              "type": "string",
                              "description": "URL for merchant to download the report."
                            },
                            "tips": {
                              "type": "string",
                              "description": "Reminders to merchant."
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ]
      }
    },
    "/openapi/fiat/v1/download/merchant_bill": {
      "get": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Retrieve the Report",
        "description": "Download the reconciliation report file (ZIP format). The download link is valid for 30 minutes.",
        "operationId": "retrieveReport",
        "parameters": [
          {
            "name": "fileKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique download file key."
          },
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ],
        "responses": {
          "200": {
            "description": "ZIP file download",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/convert/v1/get-supported-trading-pairs": {
      "post": {
        "tags": [
          "Trading - Convert"
        ],
        "summary": "Get Supported Convert Trading Pairs",
        "description": "Returns a list of all available trading pairs. You may need to be whitelisted for OTC-Convert mode.",
        "operationId": "getSupportedConvertTradingPairs",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "OTC"
              ]
            },
            "description": "Designed to support large trading volume with a minimum trade size of $20,000."
          },
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "sourceCurrency": {
                        "type": "string",
                        "example": "USDT"
                      },
                      "targetCurrency": {
                        "type": "string",
                        "example": "PHP"
                      },
                      "minSourceAmount": {
                        "type": "string",
                        "example": "100"
                      },
                      "maxSourceAmount": {
                        "type": "string",
                        "example": "1000"
                      },
                      "precision": {
                        "type": "string",
                        "example": "2"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/convert/v1/get-quote": {
      "post": {
        "tags": [
          "Trading - Convert"
        ],
        "summary": "Convert Fetch Quote",
        "description": "Returns a quote for a specified source currency and target currency pair.",
        "operationId": "convertFetchQuote",
        "parameters": [
          {
            "name": "sourceCurrency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "USDT"
          },
          {
            "name": "targetCurrency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PHP"
          },
          {
            "name": "sourceAmount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Amount to convert from. Target amount must not be filled when this is filled."
          },
          {
            "name": "targetAmount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Amount to convert to. Source amount must not be filled when this is filled."
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "OTC"
              ]
            }
          },
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "quoteId": {
                      "type": "string",
                      "example": "2182b4fc18ff4556a18332245dba75ea"
                    },
                    "sourceCurrency": {
                      "type": "string"
                    },
                    "targetCurrency": {
                      "type": "string"
                    },
                    "sourceAmount": {
                      "type": "string"
                    },
                    "targetAmount": {
                      "type": "string"
                    },
                    "price": {
                      "type": "string"
                    },
                    "expiry": {
                      "type": "string",
                      "description": "Validity of the quote in seconds."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/convert/v1/accept-quote": {
      "post": {
        "tags": [
          "Trading - Convert"
        ],
        "summary": "Convert Accept Quote",
        "description": "Accept a quote for a specified source currency and target currency pair.",
        "operationId": "convertAcceptQuote",
        "parameters": [
          {
            "name": "quoteId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 32,
              "maxLength": 32
            },
            "description": "Server generated id for the quote."
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "OTC"
              ]
            }
          },
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orderId": {
                      "type": "string",
                      "example": "49d10b74c60a475298c6bbed08dd58fa"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "SUCCESS",
                        "PROCESSING"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/otc-trade/v1/get-supported-trading-pairs": {
      "post": {
        "tags": [
          "Trading - OTC"
        ],
        "summary": "OTC Get Supported Trading Pairs",
        "description": "Returns a list of all available OTC trading pairs. Business Account only.",
        "operationId": "getOTCSupportedTradingPairs",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/OTCTradingPair"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ]
      }
    },
    "/openapi/otc-trade/v1/create-rfq": {
      "post": {
        "tags": [
          "Trading - OTC"
        ],
        "summary": "Create RFQ",
        "description": "Returns a quote for a specified source and target currency pair. Business Account only.",
        "operationId": "createRFQ",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sourceCurrency",
                  "targetCurrency",
                  "settlementType"
                ],
                "properties": {
                  "sourceCurrency": {
                    "type": "string",
                    "description": "The currency the user holds."
                  },
                  "targetCurrency": {
                    "type": "string",
                    "description": "The currency the user would like to obtain."
                  },
                  "sourceAmount": {
                    "type": "string",
                    "description": "Amount of sourceCurrency. Only fill one of sourceAmount or targetAmount."
                  },
                  "targetAmount": {
                    "type": "string",
                    "description": "Amount of targetCurrency. Only fill one of sourceAmount or targetAmount."
                  },
                  "settlementType": {
                    "type": "string",
                    "enum": [
                      "INSTANT",
                      "MANUAL_DEFER",
                      "AUTO_DEFER"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "quoteId": {
                              "type": "string"
                            },
                            "sourceCurrency": {
                              "type": "string"
                            },
                            "targetCurrency": {
                              "type": "string"
                            },
                            "sourceAmount": {
                              "type": "string"
                            },
                            "targetAmount": {
                              "type": "string"
                            },
                            "price": {
                              "type": "string"
                            },
                            "expiry": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ]
      }
    },
    "/openapi/otc-trade/v1/accept-rfq": {
      "post": {
        "tags": [
          "Trading - OTC"
        ],
        "summary": "Accept RFQ",
        "description": "Accept the quote and receive the result instantly. Business Account only.",
        "operationId": "acceptRFQ",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "quoteId"
                ],
                "properties": {
                  "quoteId": {
                    "type": "string",
                    "description": "The ID assigned to the quote."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "orderId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "SUCCEEDED",
                                "PROCESSING"
                              ]
                            },
                            "deferredSettlementExpiryUntil": {
                              "type": "string",
                              "description": "Unix timestamp for deferred settlement expiry. Only when settlementType is MANUAL_DEFER or AUTO_DEFER."
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ]
      }
    },
    "/openapi/otc-trade/v1/manual-settle": {
      "post": {
        "tags": [
          "Trading - OTC"
        ],
        "summary": "Manual Settle",
        "description": "Manually settle deferred-settlement orders. Business Account only.",
        "operationId": "manualSettle",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "quoteId"
                ],
                "properties": {
                  "quoteId": {
                    "type": "string",
                    "description": "The ID assigned to the quote."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "enum": [
                                "SUCCEEDED",
                                "FAILED"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ]
      }
    },
    "/openapi/fiat/v1/details": {
      "get": {
        "tags": [
          "Order History"
        ],
        "summary": "Get Order Details",
        "description": "Retrieves information about a specific fiat currency order.",
        "operationId": "getOrderDetails",
        "parameters": [
          {
            "name": "internalOrderId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the order for which the user wishes to retrieve details."
          },
          {
            "name": "recvWindow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Validity duration of the request in milliseconds after the timestamp."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FiatBaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/OrderDetailsResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/openapi/fiat/v2/history": {
      "post": {
        "tags": [
          "Order History"
        ],
        "summary": "Fiat Order History V2 (USER_DATA)",
        "description": "This endpoint is used to query all fiat related history.\n\n**Weight:** 1\n\nParameters are passed as a JSON body.",
        "operationId": "getFiatOrderHistoryV2",
        "parameters": [
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Unix timestamp in milliseconds."
          },
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "HMAC-SHA256 signature."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pageNum": {
                    "type": "string",
                    "description": "Page number default 1.",
                    "example": "1"
                  },
                  "pageSize": {
                    "type": "string",
                    "description": "Page size, default 10.",
                    "example": "10"
                  },
                  "externalOrderId": {
                    "type": "string",
                    "description": "Coins internal ID."
                  },
                  "internalOrderId": {
                    "type": "string",
                    "description": "The unique order id generated by the server."
                  },
                  "transactionType": {
                    "type": "string",
                    "description": "Order Transaction Type 1: cash-in, -1: cash-out.",
                    "example": "1"
                  },
                  "transactionChannel": {
                    "type": "string",
                    "description": "Transaction channel, the optional values are INSTAPAY, SWIFTPAY_PESONET.",
                    "example": "INSTAPAY"
                  },
                  "transactionSubject": {
                    "type": "string",
                    "description": "Secondary channels, such as Gcash supported under instapay."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "SUCCEEDED",
                      "FAILED",
                      "CANCEL"
                    ],
                    "description": "Indicates the current state of the order.\n- PENDING: The order is still being processed and is not in a final state.\n- SUCCEEDED: The order has been successfully processed.\n- FAILED: The order processing has failed.\n- CANCEL: The order has been canceled by the user and is considered equivalent to a failure.\n\nOnly orders in a final state (SUCCEEDED, FAILED, or CANCEL) are considered complete and reliable for further actions. Avoid relying on orders in a non-final state (PENDING) as their status may change."
                  },
                  "fiatCurrency": {
                    "type": "string",
                    "description": "Fiat currency.",
                    "example": "PHP"
                  },
                  "startDate": {
                    "type": "string",
                    "description": "The order's create time will be between startDate and endDate. Accepts ISO 8601 format (UTC) (e.g., \"2016-10-20T13:00:00.000000Z\") or a time delta (e.g., \"1w 3d 2h 32m 5s\").",
                    "example": "2023-07-01T00:00:00.000000Z"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "The order's create time will be between startDate and endDate. Accepts ISO 8601 format (UTC) (e.g., \"2016-10-20T13:00:00.000000Z\") or a time delta (e.g., \"1w 3d 2h 32m 5s\").",
                    "example": "2023-08-01T00:00:00.000000Z"
                  },
                  "startTime": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The order's create time will be between startTime and endTime. Works when both startDate and endDate are empty. The server time zone is UTC+0."
                  },
                  "endTime": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The order's create time will be between startTime and endTime. Works when both startDate and endDate are empty. The server time zone is UTC+0."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 0
                    },
                    "error": {
                      "type": "string",
                      "example": "OK"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "externalOrderId": {
                            "type": "string",
                            "description": "Coins internal ID, query not supported yet; ignore it."
                          },
                          "internalOrderId": {
                            "type": "string",
                            "description": "The unique order id generated by the server."
                          },
                          "paymentOrderId": {
                            "type": "string",
                            "description": "The payment order id generated by the channel."
                          },
                          "fiatCurrency": {
                            "type": "string",
                            "description": "PHP as it is the only currency currently supported."
                          },
                          "fiatAmount": {
                            "type": "string",
                            "description": "The order amount."
                          },
                          "transactionType": {
                            "type": "string",
                            "description": "1 mean cash in, -1 mean cash out."
                          },
                          "transactionChannel": {
                            "type": "string",
                            "description": "The first-level channel to order it belongs."
                          },
                          "transactionSubject": {
                            "type": "string",
                            "description": "The channel code of order."
                          },
                          "transactionSubjectType": {
                            "type": "string",
                            "description": "Channel type."
                          },
                          "transactionChannelName": {
                            "type": "string",
                            "description": "First level channel Name."
                          },
                          "transactionSubjectName": {
                            "type": "string",
                            "description": "Channel Name."
                          },
                          "feeCurrency": {
                            "type": "string",
                            "description": "PHP as it is the only currency currently supported."
                          },
                          "channelFee": {
                            "type": "string",
                            "description": "The fee of order always 0. Deprecated, see platformFee."
                          },
                          "platformFee": {
                            "type": "string",
                            "description": "The fee of order."
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "PENDING",
                              "SUCCEEDED",
                              "FAILED",
                              "CANCEL"
                            ],
                            "description": "Indicates the current state of the order.\n- PENDING: The order is still being processed and is not in a final state.\n- SUCCEEDED: The order has been successfully processed.\n- FAILED: The order processing has failed.\n- CANCEL: The order has been canceled by the user and is considered equivalent to a failure.\n\nOnly orders in a final state (SUCCEEDED, FAILED, or CANCEL) are considered complete and reliable for further actions. Avoid relying on orders in a non-final state (PENDING) as their status may change."
                          },
                          "errorCode": {
                            "type": "string",
                            "description": "Order fail with errorCode."
                          },
                          "errorMessage": {
                            "type": "string",
                            "description": "Order fail with error message."
                          },
                          "completedTime": {
                            "type": "string",
                            "description": "The time of order completed."
                          },
                          "source": {
                            "type": "string",
                            "description": "Order create client Type, such as WEB, ANDROID, IOS, open-api."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "The time of order created."
                          },
                          "orderExtendedMap": {
                            "type": "object",
                            "description": "The order extend data."
                          },
                          "dealCancel": {
                            "type": "boolean",
                            "description": "If order can be canceled, value will be true."
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records.",
                      "example": 2
                    }
                  }
                },
                "example": {
                  "status": 0,
                  "error": "OK",
                  "data": [
                    {
                      "externalOrderId": "1476829580936625682",
[...]
